@use '../custom'as *;

.about-heart {
    position: relative;
    font-size: 7px;
    left: 176px;
    top: 15px;
}

.about-section {
    padding-top: 70px;
    padding-bottom: 10px;
    font-family: "Poppins";
}

.about-image {
    height: 400px;
    padding-top: 0px;
    bottom: 10px;

}

.about-body2 {

    text-align: center;
}

.about-body {

    font-family: 'vidu-black';
    position: relative;
    top: 50px;
    left: 10%;
}

.about-bold {
    font-size: 20px;
    padding-top: 10px;

}

.about-text {

    padding-top: 0px;
}

.about-light {
    font-family: "Roboto";
    font-size: 18px;
}

/* underline */
.about-underline {
    background-color: #dfa4a2;
    height: 4px;
    width: 160px;
    position: relative;
}

.about-underline-heart {
    color: #dfa4a2;
    position: relative;
    bottom: 10px;
    left: 170px;
}

/* underline end*/

/* Responsive */
@media (max-width: 1536px) {
    .about-image {

        height: 400px;
        padding-top: 10px;
        background-position: top;
        bottom: 10px;
    }

}



@media (max-width: 1399px) {
    .about-image {

        height: 350px;
        padding-top: 0px;
        background-position: top;
        bottom: 10px;
    }

}


@media (max-width: 1199px) {

    .about-body {
        position: relative;
        top: 30px;
    }

    .about-heart {
        position: relative;
        font-size: 7px;
        left: 175px;
        top: 15px;
    }
}

@media (max-width: 1090px) {


    .about-heart {

        left: 173px;
        top: 15px;
    }
}

@media (max-width: 1040px) {


    .about-heart {
        position: relative;
        font-size: 7px;
        left: 172px;
        top: 15px;
    }
}


@media (max-width: 991px) {


    .about-section {
        padding-top: -60px;
        padding-bottom: 0px;
    }

    .about-body {
        padding-top: 0px;
        position: unset;
    }

    .about-heart {

        visibility: hidden;
        display: none;
    }

    .about-image {

        display: none;
    }

    .about-text {
        display: none;
    }

    .about-underline {
        display: none;
    }

    .about-bold {
        display: none;
    }

    .about-btn {
        display: none;
    }



}


@media (max-width: 768px) {
    .about-image {

        display: none;
    }

    .about-section {
        padding-top: 20px;

    }

    .about-body {

        bottom: 0px;
        left: 0%;
    }


}


@media (max-width: 366px) {
    .about-section {
        padding-top: 5px;
    }
}