@use '../custom'as *;

.contact {
    font-family: "poppins";
    color: black;
    background-color: #fdf4f4;
    padding-bottom: 50px;
    padding-top: 10px;
    text-align: center;
}

.contact-details {
    text-align: center;
}

.contact-icon {
    padding-top: 100px;
    text-align: center;
}

@media (max-width: 767px) {

   .contact-row{
       display:grid;
    } 
    .contact-icon {
        padding-top: 0px;
    }
    .contact {
        padding-bottom: 20px;
        padding-top: 30px;
    }
}

