@use '../custom'as *;

.footer {
    background-color: #99706e;
    text-align: center;
    color: white;
    padding-bottom: 10px;


}

.social-icons {
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 20px;
    padding-bottom: 10px;
    color: white;
}

.fa-facebook:hover {
    color: #dfa4a2;
}

.fa-instagram:hover {
    color: #dfa4a2;
}

.fa-youtube:hover {
    color: #dfa4a2;
}

.rights {
    font-family:'vidu-black';
    font-size: 15px;
    padding-bottom: 0px;
    color: white;
    text-decoration: none;
    font-weight: 400;
}



a:link {
    text-decoration: none;
    color: white;

}

.hire_me-text {
    font-family: "Roboto";
}

.contact-icon {
    margin-top: 20px;
    padding-bottom: 10px;
}

.design_develop {
    font-size: 14px;
    text-decoration: none;
    margin-top: 10px;
    color: white;
    font-weight: 300;
}