@use '../custom'as *;


$size: 20px;
$speed: 3s;
$peakopacity:0.7;


.arrows {
  animation: movedown 1s linear 1;
  animation-delay: 3s;
  visibility: hidden;
  animation-fill-mode: forwards;
  position: relative;
  bottom: -230px;
  left: 35%;
  width: $size;
  height: $size;
  transform: translate(-50%, -50%);

  &:before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    border-left: $size/3 solid rgba(0, 0, 0, $peakopacity);
    border-bottom: $size/3 solid rgba(0, 0, 0, $peakopacity);
    transform: translate($size/3, $size*4/3)rotate(-45deg);
    animation: arrows $speed linear infinite;
  }

  &:after {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    border-left: $size/3 solid rgba(255, 255, 255, $peakopacity);
    border-bottom: $size/3 solid rgba(255, 255, 255, $peakopacity);
    transform: translate($size*2/3, 0px)rotate(-45deg);
    animation: arrows $speed linear infinite $speed/-2;
  }
}


.home-section {
  background-image: url('../../assets/images/home_section/banner.svg');
  background-position: top;
  background-size: auto;
  background-repeat: no-repeat;
  padding-bottom: 180px;
}

.intros {

  i {
    font-size: 6rem;
  }

}

.home-body {
  position: relative;
  right: 220px;
  padding-top: 20%;
  font-family: 'vidu-black';
  animation: moveright 1.5s linear 1;
  animation-delay: 2s;
  visibility: hidden;
  animation-fill-mode: forwards;

  &--intro {
    font-size: 48px;
    display: inline-block;
    font-weight: normal;
    font-family: 'vidu-black';
  }

  &--description {

    font-size: 30px;
    display: block;
    text-transform: none;
    padding-bottom: 10px;
    font-family: 'vidu-light';
    letter-spacing: 2px;

  }


  .home-body-heart2 {
    font-size: 6px;
    bottom: 38px;
    left: 185px;
  }

  .home-body-heart3 {
    font-size: 6px;

    bottom: 38px;
    left: 185px;
  }

  .home-body-heart4 {
    font-size: 6px;
    bottom: 38px;
    left: 185px;
  }
}

.home-heart {
  font-size: 13px;
  position: relative;
  bottom: 29px;
  right: 110px;
}

/* Responsive */

@media (min-width: 1980px) {

  .home-section {
    padding-top: 0px;
    background-size: auto;
    .arrows {
      top: 245px;
      left: 30%;
    }
}
}

@media (max-width: 1800px) {
  .home-section {
  
  .arrows {
    top: 205px;
    left: 40%;
  }
  }
}


@media (max-width: 1760px) {


  .home-section {
    background-size: auto;  
  .arrows {
    top: 200px;
    left: 40%;
  }

  }

}

@media (max-width: 1640px) {


  .home-section {
    background-size: auto;
    .arrows {
      top: 170px;
      left: 45%;
    }
  }



}

@media (max-width: 1590px) {

  .home-section {
    padding-bottom: 130px;

    background-size: auto;

    .arrows {
      bottom: -10px;
      left: 45%;
    }
  }

  .home-body {
    right: 200px;
    padding-top: 15%;

  }

}

@media (max-width: 1475px) {

  .home-section {
    padding-bottom: 110px;
    background-size: auto;

    .arrows {
      top: 150px;
      left: 46%;
    }
  }

  .home-body {
    left: -100px;
    padding-top: 16%;


  }

}

@media (max-width: 1440px) {

  .home-section {
    padding-bottom: 125px;
    background-size: auto;

    .arrows {
      top: 155px;
      left: 48%;
    }
  }

  .home-body {
    right: 130px;
    padding-top: 17%;

    &--intro {
      font-size: 40px;
    }

    &--description {
      font-size: 25px;
    }

  
  }

  .home-heart {
    position: relative;
    bottom: 24px;
    right: 92px;
    font-size: 10px;
  }


}

@media (max-width: 1399px) {
  .home-section {
    
    .arrows {
      top: 160px;
      left: 40%;
    }
  }}

@media (max-width: 1366px) {
  .home-section {
    padding-bottom: 115px;

    background-size: auto;

    .arrows {
      top: 120px;
      left: 40%;
    }
  }

  .home-body {
    right: -80px;
    padding-top: 17%;

    &--intro {
      font-size: 40px;
    }

    &--description {
      font-size: 25px;
    }
  }

  .banner-img-kalaristry {
    margin-top: 60px;
  }

  .banner-img {
    padding-left: 100px;
    height: 180px;
  }
}

@media (max-width: 1350px) {
  .home-section {
    padding-bottom: 120px;

    background-size: auto;

    .arrows {
      bottom: -10px;
      left: 40%;
    }
  }

  .home-body {
    left: -130px;
    padding-top: 15%;


  }

}

@media (max-width: 1320px) {
  .home-section {
    padding-bottom: 115px;
    background-size: auto;

    .arrows {
      bottom: -10px;
      left: 45%;
    }
  }


}

@media (max-width: 1290px) {
  .home-section {
    padding-bottom: 110px;
    background-size: auto;
    background: url('../../assets/images/home_section/banner_1200px.svg');
    background-repeat: no-repeat;

    .arrows {
      top: 120px;
      left: 53%;
    }
  }

  .home-body {
    right: 200px;
    padding-top: 20%;

    &--intro {
      font-size: 35px;
    }

    &--description {
      font-size: 25px;
    }

  }

  .home-heart {
    position: relative;
    bottom: 21px;
    right: 81px;
    font-size: 9px;
  }



}

@media (max-width: 1250px) {
  .home-section {
    padding-bottom: 110px;

  }
}

@media (max-width: 1199px) {
  .home-section {
    padding-bottom: 130px;
    background-size: auto;

    .arrows {
      bottom: -0px;
      left: 50%;
    }
  }

  .home-body {
    right: 200px;
    padding-top: 15%;


  }


}


@media (max-width: 1140px) {
  .home-section {
    background-size: auto;
    padding-bottom: 9%;

    .arrows {
      top: 110px;
      left: 52%;
    }
  }

  .home-body {
    right: 200px;
    padding-top: 18%;

  }

  .banner-img-kalaristry {
    margin-top: 40px;
  }

  .banner-img {
    padding-left: 100px;
    height: 140px;
  }
}
@media (max-width: 1082px) {
  .home-section {
    background-repeat: no-repeat;
    padding-bottom: 90px;

    .arrows {
      top: 95px;
      left: 55%;
    }
  }}

@media (max-width: 1024px) {
  .home-section {
    background: url('/assets/images/home_section/banner_1000px.svg');
    padding-bottom: 70px;

    background-repeat: no-repeat;

    .arrows {
      top: 75px;
      left: 60%;
    }
  }

  .home-body {
    right: 110px;
    padding-top: 20%;

  }

}


@media (max-width: 991px) {
  .home-section {
    background-repeat: no-repeat;
    padding-bottom: 100px;

    .arrows {
      top: 80px;
      left: 50%;
    }
  }

  .home-body {
    left: -40px;
    padding-top: 20%;


    &--intro {
      font-size: 28px;
    }

    &--description {
      font-size: 18px;
    }

    
  .home-body-heart2 {
    font-size: 4px;
    bottom: 38px;
    left: 185px;
  }

  .home-body-heart3 {
    font-size: 4px;

    bottom: 38px;
    left: 185px;
  }

  .home-body-heart4 {
    font-size: 4px;
    bottom: 38px;
    left: 185px;
  }
   
  }

  .home-heart {
    position: relative;
    bottom: 17px;
    right: 66px;
    font-size: 7px;
  }

}

@media (max-width: 956px) {
  .home-section {
    background-repeat: no-repeat;
    padding-bottom: 95px;

    .arrows {
      top: 90px;
      left: 50%;
    }
  }

  .home-body {
    left: -25px;
    padding-top: 20%;

    &--intro {
      font-size: 25px;
    }

    &--description {
      font-size: 15px;
    }

    
  }

  .home-heart {
    bottom: 15px;
    right: 59px;
    font-size: 6px;
  }

}

@media (max-width: 910px) {
  .home-section {
    background-repeat: no-repeat;
    padding-bottom: 85px;

    .arrows {
      top: 82px;
      left: 52%;
    }
  }

  .home-body {
    left: -45px;
    padding-top: 20%;

    &--intro {
      font-size: 25px;
    }

    &--description {
      font-size: 15px;
    }

  }
}


@media (max-width: 851px) {
  .home-section {

    .arrows {
      top: 70px;
      left: 55%;
    }
  }
}

@media (max-width: 834px) {
  .home-section {
    background-size: auto;
    background-image: url('../../assets/images/home_section/banner_800px.svg');
    padding-bottom: 120px;

    .arrows {
      top: 110px;
      left: 58%;
    }
  }

  .home-body {
    right: 100px;
    padding-top: 20%;
  }
}


@media (max-width: 808px) {
  .home-section {
    .arrows {
      top: 100px;
      left: 57%;
    }
  }
}


@media (max-width: 768px) {
  .home-section {
    background-size: auto;
    padding-bottom: 110px;

    .arrows {
      top: 65px;
      left: 55%;
    }
  }

  .home-body {
    right: 100px;
    padding-top: 18%;

    &--intro {
      font-size: 28px;
    }

    &--description {
     
      font-size: 15px;
      bottom: 20px;
    }

   


  }

  .home-heart {
    position: relative;
    bottom: 46px;
    right: -87px;
    font-size: 7px;
  }
}

@media (max-width: 767px) {
  .home-section {
    background-image: url('../../assets/images/home_section/banner_600px.svg');
    background-size: auto;
    padding-bottom: 75px;

    .arrows {
      top: 80px;
      left: 50%;
    }
  }

  .home-body {
    right: 100px;
    padding-top: 30%;

  }

  .home-heart {
    position: relative;
    bottom: 46px;
    right: -87px;
    font-size: 7px;
  }

}

@media (max-width: 708px) {
  .home-section {

    .arrows {
      top: 70px;
      left: 55%;
    }
  }
}



@media (max-width: 660px) {

  .home-section {
    background-size: auto;
    padding-bottom: 55px;

    .arrows {
      top: 55px;
      left: 55%;
    }
  }

  .home-body {
    right: 100px;
    padding-top: 25%;

  }

  .home-heart {
    position: relative;
    bottom: 46px;
    right: -87px;
    font-size: 7px;
  }
}





@media (max-width: 599px) {
  .home-section {

    background-image: url('../../assets/images/home_section/banner_500px.svg');
    background-size: auto;
    padding-top: 0px;
    padding-bottom: 110px;

    .arrows {
      top: 95px;
      left: 50%;
    }
  }

  .home-body {
    right: 120px;
    padding-top: 25%;

  }

  .home-heart {
    position: relative;
    bottom: 46px;
    right: -87px;
    font-size: 7px;
  }
}

@media (max-width: 575px) {
  .home-section {

    .arrows {
      top: 90px;
      left: 45%;
    }
  }
}

@media (max-width: 535px) {
  .home-section {

    .arrows {
      top: 80px;
      left: 45%;
    }
  }
}

@media (max-width: 493px) {
  .home-section {

    background-image: url('../../assets/images/home_section/banner_400px.svg');
    background-size: auto;
    padding-bottom: 112px;

    .arrows {
      top: 110px;
      left: 48%;
    }
  }

  .home-body {
    left: -15px;
    padding-top: 40%;

    &--intro {
      font-size: 24px;
    }

    &--description {
      font-size: 15px;
      bottom: 20px;
    }


  }

  .home-heart {
    position: relative;
    bottom: 42px;
    right: -74.5px;
    font-size: 6px;
  }


}

@media (max-width: 453px) {
  .home-section {

    .arrows {
      top: 98px;
      left: 50%;
    }
  }
}

@media (max-width: 432px) {

  .home-section {
    padding-bottom: 100px;

    .arrows {
      top: 85px;
      left: 45%;
    }
  }

}


@media (max-width: 414px) {

  .home-section {

    padding-bottom: 80px;

    


    .arrows {
      top: 80px;
      left: 45%;
    }
  }

  .home-body {
    right: 10px;
    padding-top: 50%;

    &--intro {
      font-size: 18px;
    }

    &--description {
      font-size: 10px;
    }

       
  .home-body-heart2 {
    font-size: 2px;
    bottom: 38px;
    left: 185px;
  }

  .home-body-heart3 {
    font-size: 2px;

    bottom: 38px;
    left: 185px;
  }

  .home-body-heart4 {
    font-size: 2px;
    bottom: 38px;
    left: 185px;
  }

  
  }

  .home-heart {
    position: relative;
    bottom: 34.5px;
    right: -55.5px;
    font-size: 5px;
  }


}



@media (max-width: 397px) {

  .home-section {
    padding-bottom: 80px;

    .arrows {
      top: 70px;
      left: 45%;
    }
  }

  .home-body {
    right: 10px;
    padding-top: 50%;

    &--intro {
      font-size: 18px;
    }

    &--description {
      font-size: 10px;
    }


  }

  .home-heart {
    position: relative;
    bottom: 34.5px;
    right: -55.5px;
    font-size: 5px;
  }
}


@media (max-width: 359px) {
  .home-section {

    .arrows {
      top: 60px;
      left: 50%;
    }
  }
}




@media (max-width: 347px) {

  .home-section {
    padding-bottom: 60px;

    .arrows {
      top: 50px;
      left: 45%;
    }
  }

  .home-body {
    right: 10px;
    padding-top: 45%;

    &--intro {
      font-size: 18px;
    }

    &--description {
      font-size: 10px;
    }


   
  }

  .home-heart {
    position: relative;
    bottom: 35px;
    right: -56px;
    font-size: 4.5px;
  }

}
@media (max-width: 328px) {
  .home-section {
    background-size: auto;
    padding-bottom: 40px;
  }
}