@use '../custom'as *;

.merchandise-heart {

  position: relative;
  top: 90px;
  left: 79px;
  font-size: 10px;
}

.merchandise {
  text-align: center;
  font-family: 'Poppins';
}

.merchandise-topic {
  font-family: 'vidu-black';
  font-size: 39px;
  font-weight: 700;
  padding-top: 70px;
}

.hover-price {
  opacity: 0;
  transform: all 0.3s ease-in-out;
}

.products:hover .hover-price {
  opacity: 1;
}

.merchandise-button {
  padding-top: 30px;
  padding-bottom: 70px;
}


.merchandise-underline {
  margin-bottom: 60px;
}


.post-slider {
  position: relative;
}


.post-slider .next {
  position: absolute;
  top: 50%;
  right: 30px;
  font-size: 2em;
  color: #006669;
  cursor: pointer;
}

.post-slider .prev {
  position: absolute;
  top: 50%;
  left: 30px;
  font-size: 2em;
  color: #006669;
  cursor: pointer;
}


.post-slider .post-wrapper .post {
  margin-left: 5px;
  margin-right: 5px;
  background: white;

}



.post-slider .post-wrapper .post .slider-image {
  width: 100%;
}

.post-slider .next {
  right: -5px;
  top: -6px;
}

.post-slider .prev {
  left: 6px;
  top: -6px;
}

.effect {
  position: relative;
  margin-bottom: 30px;
  overflow: hidden;
}

.effect .effect-img {
  position: relative;
  font-size: 0;
  overflow: hidden;
}

.effect .effect-img img {
  position: relative;
  width: 100%;
  height: auto;
  transform: scale(1.2);
  bottom: -25px;
  transition: .5s;
}

.effect:hover .effect-img img {
  bottom: 0;
}

.effect .effect-text {
  position: absolute;
  width: 100%;
  height: 100%;
  padding: 30px;
  top: 50%;
  left: 0;
  text-align: center;
  background: rgba(0, 0, 0, .2);
  opacity: 0;
  transition: .5s;
}

.effect:hover .effect-text {
  top: 0;
  opacity: 1;
}

.effect .effect-heading {
  position: absolute;
  width: 100%;
  padding: 15px 7.5px;
  left: 0;
  bottom: 0;
  background: rgba(0, 0, 0, .5);
}

.effect .effect-text h2 {
  display: inline-block;
  color: #ffffff;
  font-size: 22px;
  font-weight: 400;

  margin: 5px 7.5px 0 7.5px;
}

.post {
  padding-left: 10px;
  padding-right: 10px;


}

/* underline */
.merchandise-underline {
  background-color: #dfa4a2;
  height: 4px;
  width: 190px;
  right: 16px;
  position: relative;
  margin-top: 10px;
}

.merchandise-underline-heart {
  color: #dfa4a2;
  position: relative;
  bottom: 10px;
  left: 115px;
}

/* underline end*/

/* Responsive */
@media (min-width: 1920px) {

  .prev-arrow,
  .next-arrow {
    height: 365px;
  }

}

@media (max-width: 1920px) {

  .prev-arrow,
  .next-arrow {
    height: 360px;
  }

}

@media (max-width: 1536px) {

  .prev-arrow,
  .next-arrow {
    height: 30%;
  }
}

@media (max-width: 1399px) {

  .prev-arrow,
  .next-arrow {
    height: 280px;
  }
}

@media (max-width: 1394px) {

  .prev-arrow,
  .next-arrow {
    height: 280px;
  }

}

@media (max-width: 1366px) {

  .prev-arrow,
  .next-arrow {
    height: 285px;
  }

}

@media (max-width: 1199px) {

  .prev-arrow,
  .next-arrow {
    height: 245px;
  }
}

@media (max-width: 991px) {

  .prev-arrow,
  .next-arrow {
    height: 190px;
  }
}

@media (max-width: 919px) {

  .prev-arrow,
  .next-arrow {
    height: 400px;
  }
}

@media (max-width: 768px) {

  .prev-arrow,
  .next-arrow {
    height: 340px;
  }
}

@media (max-width: 767px) {

  .prev-arrow,
  .next-arrow {
    height: 300px;
  }
}

@media (max-width: 660px) {

  .prev-arrow,
  .next-arrow {
    height: 275px;
  }

}

@media (max-width: 575px) {

  .prev-arrow,
  .next-arrow {
    height: 255px;
  }

}

@media (max-width: 555px) {

  .prev-arrow,
  .next-arrow {
    height: 248px;
  }
}

@media (max-width: 540px) {

  .prev-arrow,
  .next-arrow {
    height: 250px;
  }
}

@media (max-width: 519px) {

  .prev-arrow,
  .next-arrow {
    height: 235px;
  }
}

@media (max-width: 496px) {

  .prev-arrow,
  .next-arrow {
    height: 220px;
  }
}

@media (max-width: 479px) {

  .prev-arrow,
  .next-arrow {
    height: 445px;
  }
}

@media (max-width: 470px) {

  .prev-arrow,
  .next-arrow {
    height: 435px;
  }
}

@media (max-width: 460px) {

  .prev-arrow,
  .next-arrow {
    height: 430px;
  }
}

@media (max-width: 454px) {

  .prev-arrow,
  .next-arrow {
    height: 415px;
  }
}

@media (max-width: 445px) {

  .prev-arrow,
  .next-arrow {
    height: 400px;
  }
}

@media (max-width: 435px) {

  .prev-arrow,
  .next-arrow {
    height: 390px;
  }
}

@media (max-width: 424px) {

  .prev-arrow,
  .next-arrow {
    height: 380px;
  }
}



@media (max-width: 414px) {

  .merchandise-button {
    padding-top: 20px;
    padding-bottom: 70px;
  }

  .prev-arrow,
  .next-arrow {
    height: 370px;
  }

}

@media (max-width: 407px) {

  .merchandise-button {
    padding-top: 20px;
    padding-bottom: 70px;
  }

  .prev-arrow,
  .next-arrow {
    height: 360px;
  }

}

@media (max-width: 400px) {

  .prev-arrow,
  .next-arrow {
    height: 350px;
  }

}

@media (max-width: 392px) {

  .prev-arrow,
  .next-arrow {
    height: 340px;
  }

}

@media (max-width: 380px) {

  .merchandise-button {
    padding-top: 20px;
    padding-bottom: 70px;
  }

  .prev-arrow,
  .next-arrow {
    height: 330px;
  }

}

@media (max-width: 375px) {


  .prev-arrow,
  .next-arrow {
    height: 320px;
  }

}

@media (max-width: 365px) {

  .merchandise-button {
    padding-top: 20px;
    padding-bottom: 70px;
  }

  .prev-arrow,
  .next-arrow {
    height: 315px;
  }

}

@media (max-width: 360px) {

  .merchandise-button {
    padding-top: 20px;
    padding-bottom: 70px;
  }

  .prev-arrow,
  .next-arrow {
    height: 355px;
  }

}

@media (max-width: 355px) {

  .prev-arrow,
  .next-arrow {
    height: 348px;
  }

}

@media (max-width: 350px) {

  .prev-arrow,
  .next-arrow {
    height: 343px;
  }

}

@media (max-width: 345px) {

  .prev-arrow,
  .next-arrow {
    height: 335px;
  }

}

@media (max-width: 340px) {

  .prev-arrow,
  .next-arrow {
    height: 330px;
  }

}

@media (max-width: 335px) {

  .prev-arrow,
  .next-arrow {
    height: 325px;
  }

}

@media (max-width: 330px) {

  .prev-arrow,
  .next-arrow {
    height: 320px;
  }

}

@media (max-width: 325px) {

  .prev-arrow,
  .next-arrow {
    height: 313px;
  }

}

@media (max-width: 320px) {

  .prev-arrow,
  .next-arrow {
    height: 308px;
  }

}

@media (max-width: 315px) {

  .prev-arrow,
  .next-arrow {
    height: 300px;
  }

}

@media (max-width: 310px) {

  .prev-arrow,
  .next-arrow {
    height: 295px;
  }

}

@media (max-width: 305px) {

  .prev-arrow,
  .next-arrow {
    height: 290px;
  }

}

@media (max-width: 300px) {

  .prev-arrow,
  .next-arrow {
    height: 285px;
  }

}