@use '../custom'as *;


.navbar {
  height: 60px;
  animation: movedown 1s linear 1;
  animation-delay: 0.7s;
  visibility: hidden;
  animation-fill-mode: forwards;
  font-family: "poppins";



}

.nav-link {
  color: white;
}

.nav-link:hover {
  color: #dfa4a2 !important;
}

.bg-dark {
  background-color: #99706e !important;
}

nav .navbar-nav li a {
  color: rgb(255, 255, 255) !important;
  font-size: 16px;
  margin-left: 20px;
}

.navbar .active {
  color: #dfa4a2 !important;

}

.navbar-toggle {
  border: none;
  background: transparent !important;
}

.navbar-toggle:hover {
  background: transparent !important;
}

.navbar-toggle .icon-bar {
  width: 22px;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}

.navbar-nav {
  text-align: center;
}


/* Icon 1 */

.animated-icon1,
.animated-icon2,
.animated-icon3 {
  width: 30px;
  height: 20px;
  position: relative;
  margin: 0px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: .5s ease-in-out;
  -moz-transition: .5s ease-in-out;
  -o-transition: .5s ease-in-out;
  transition: .5s ease-in-out;
  cursor: pointer;
}

.animated-icon1 span,
.animated-icon2 span,
.animated-icon3 span {
  display: block;
  position: absolute;
  height: 3px;
  width: 100%;
  border-radius: 9px;
  opacity: 1;
  left: 0;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: .25s ease-in-out;
  -moz-transition: .25s ease-in-out;
  -o-transition: .25s ease-in-out;
  transition: .25s ease-in-out;
}

.animated-icon1 span {
  background: white;
}

.animated-icon2 span {
  background: #e3f2fd;
}

.animated-icon3 span {
  background: #f3e5f5;
}

.animated-icon1 span:nth-child(1) {
  top: 0px;
}

.animated-icon1 span:nth-child(2) {
  top: 10px;
}

.animated-icon1 span:nth-child(3) {
  top: 20px;
}

.animated-icon1.open span:nth-child(1) {
  top: 11px;
  -webkit-transform: rotate(135deg);
  -moz-transform: rotate(135deg);
  -o-transform: rotate(135deg);
  transform: rotate(135deg);
}

.animated-icon1.open span:nth-child(2) {
  opacity: 0;
  left: -60px;
}

.animated-icon1.open span:nth-child(3) {
  top: 11px;
  -webkit-transform: rotate(-135deg);
  -moz-transform: rotate(-135deg);
  -o-transform: rotate(-135deg);
  transform: rotate(-135deg);
}

.first-button {
  border: none;
}


/* Responsive */
@media (max-width: 1475px) {

  nav .navbar-nav li a {
    margin-left: 0px;
  }

}





@media (max-width: 1190px) {

  nav .navbar-nav li a {
    font-size: 14px;
  }

}

@media (max-width: 1024px) {

  .navbar-nav{
    padding-right: 30px;
  }

  .navbar-logo {
    height: 35px;
    padding-bottom: 5px;
    padding-left: 70px;
  }
}
@media (min-width: 992px) {

  .animated-icon1,
  .animated-icon2,
  .animated-icon3 {
    display: none;
  }
}

@media (max-width: 991px) {

  .navbar-nav {
    background-color: #99706e !important;
    border-radius: 0%;
  }

  nav .navbar-nav li a {
    border-radius: 5%;
    box-shadow: 0 4px 10px 0 rgba(255, 255, 255, 0.2), 0 6px 20px 0 rgba(255, 255, 255, 0.19);
  }

  .navbar-logo {
    height: 35px;
    padding-bottom: 5px;
    padding-left: 0px;
  }

  .navbar-nav{
    padding-right: 0px;
  }


}

@media (max-width: 768px) {

  .navbar {

    padding-left: 20px;
    padding-right: 20px;
    animation: none;
    visibility: visible;
  }

}

@media (max-width: 360px) {

  .navbar {
    background-color: transparent;
    animation: none;
    visibility: visible;
    padding-right: 10px;
  }

  .navbar-logo {
    height: 30px;

  }

}