@use '../custom'as *;

.packages-heart1 {
    position: relative;
    top: 93px;
    left: 100px;
    font-size: 10px;

}

.packages-heart2 {
    position: relative;
    top: 93px;
    left: 115px;
    font-size: 10px;

}

.card-packages {
    font-family:'vidu-black';
    width: 250px;
    height: 300px;
    background-color: white;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.06);

}

.card-packages-details {
    padding-top: 20px;
}

.card-packages-topic {
    padding-bottom: 25px;
    font-weight: 550;
    font-size: 20px;
}

.card-packages-wedding-topic {
    padding-left: 25px;
    padding-right: 25px;
    padding-bottom: 22px;
    font-weight: 550;
    font-size: 18px;
}

.card-packages-wedding-icon {
    padding-top: 35px;

}

.card-packages-icon {
    padding-top: 40px;
    margin-bottom: 10px;
}

.packages-icon {
    height: 80px;
}

.packages {
    text-align: center;
    padding-bottom: 50px;
    background-color: #f5f4f4;
    text-align: center;
}

.packages-topic {
    font-family: 'vidu-black';
    text-align: center;
    font-size: 39px;
    font-weight: 700;
    padding-top: 70px;
}

.packages-body {
    text-align: center;
}

.packages-details {
    width: 1100px;
    text-align: center;
}

/* underline */
.packages-underline {
    background-color: #dfa4a2;
    height: 4px;
    width: 260px;
    right: 20px;
    position: relative;
    margin-top: 10px;
}

.packages-underline-heart {
    color: #dfa4a2;
    position: relative;
    bottom: 10px;
    left: 150px;
}

/* underline end*/

/* Responsive */
@media (max-width: 1366px) {

    .card-packages {
        width: auto;
        height: 310px;
    }

    .card-packages-wedding-topic {
        padding-bottom: 22px;

    }

    .packages-details {
        width: auto;
        text-align: center;
    }
}

@media (max-width: 1197px) {

    .card-packages {
        height: 290px;
    }

    .card-packages-wedding-topic {
        padding-left: 25px;
        padding-right: 25px;
        padding-bottom: 5px;
        font-weight: 550;
        font-size: 18px;
    }

    .card-packages-wedding-icon {
        padding-top: 30px;

    }

}


@media (max-width: 991px) {


    .card-packages {
        height: 290px;
        width: 220px;
        margin-bottom: 10px;
    }

    .card-packages-wedding-topic {
        padding-left: 50px;
        padding-right: 50px;
        padding-bottom: 10px;
        font-weight: 550;
        font-size: 18px;
    }

    .card-packages-wedding-icon {
        padding-top: 30px;

    }

    .packages-details {
        width: 500px;
        text-align: center;
    }

}

@media (max-width: 600px) {

    .card-packages {
        height: 290px;
        width: 200px;
    }

    .card-packages-wedding-topic {
        padding-left: 50px;
        padding-right: 50px;
        padding-bottom: 10px;
        font-weight: 550;
        font-size: 18px;
    }

    .card-packages-wedding-icon {
        padding-top: 30px;

    }

    .packages-details {
        width: 400px;
        text-align: center;
    }

}

@media (max-width: 478px) {


    .packages {
        padding-left: 5%;
    }

    .card-packages {
        height: 200px;
        width: 150px;
    }

    .card-packages-wedding-topic {
        padding-left: 0px;
        padding-right: 0px;
        padding-bottom: 0px;
        font-weight: 550;
        font-size: 12px;
    }

    .card-packages-wedding-icon {
        padding-top: 15px;

    }

    .card-packages-topic {
        font-size: 12px;
        padding-bottom: 5px;
    }

    .card-packages-icon {
        padding-top: 15px;

    }

    .packages-icon {
        height: 70px;
    }

    .card-packages-wedding-topic {
        padding-bottom: 0px;
    }

    .packages-details {
        width: auto;
        text-align: center;
    }

    .packages-btn {
        height: 40px;
        width: 80px;
        font-size: 12px;

    }
}


@media (max-width: 453px) {

    .packages-underline {
        background-color: #dfa4a2;
        height: 4px;
        width: 170px;
        right: 10px;
        position: relative;
        margin-top: 10px;
    }

    .packages-underline-heart {
        color: #dfa4a2;
        position: relative;
        bottom: 10px;
        left: 100px;
    }


    .packages-heart1 {
        position: relative;
        top: 138px;
        left: -12px;
        font-size: 10px;

    }

    .packages-heart2 {
        position: relative;
        top: 138px;
        left: 4px;
        font-size: 10px;

    }

}

@media (max-width: 414px) {

    .packages {
        padding-left: 0%;
    }

    .col-6 {
        padding-bottom: 10px;

    }

    .packages {

        padding-bottom: 20px;
    }

}

@media (max-width: 385px) {

    .packages {
        padding-left: 5%;
    }

    .card-packages {
        height: 200px;
        width: 110px;
    }

    .card-packages-wedding-topic {
        padding-left: 0px;
        padding-right: 0px;
        padding-bottom: 0px;
        font-weight: 550;
        font-size: 12px;
    }

    .card-packages-wedding-icon {
        padding-top: 15px;

    }

    .card-packages-topic {
        font-size: 12px;

    }

    .card-packages-icon {
        padding-top: 15px;
        padding-bottom: 13px;

    }

}

@media (max-width: 360px) {

    .packages {
        padding-left: 2%;
        padding-bottom: 10px;
    }

    .col-6 {
        padding-bottom: 30px;
        padding-left: 20px;
    }

    .card-packages-topic {
        font-size: 12px;
        padding-top: 0px;
    }

    .card-packages-icon {
        padding-top: 15px;
        padding-bottom: 5px;

    }
}

@media (max-width: 320px) {

    .packages {
        padding-right:5%;
    }
}