@use '../custom'as *;

.portfolio-heart {
    position: relative;
    top: 19px;
    left: 52px;
    font-size: 10px;

}

.portfolio {
    padding-top: 70px;
    padding-bottom: 120px;
    text-align: center;

}

.portfolio-topic {
    text-align: center;
    font-family: "vidu-black";
    font-size: 39px;
    font-weight: 700;
}

.flex-container {
    column-count: 3;


}

.button-group {
    padding-top: 20px;
    font-family:'vidu-black';
    font-weight: 700;
}

.portfolio-groupbtn {
    background-color: #f5f5f5;
    margin-bottom: 10px;
    border: 0px;
}

.btn-click {
    background-color: #dfa4a2;
    color: rgb(255, 255, 255);
    box-shadow: none;
}

.btn-focus {
    box-shadow: none;
}

.portfolio-button {
    text-align: center;
    padding-top: 50px;
}

.portfolio-images {
    display: block;
    height: auto;
    width: 1200px;


}

.button-group {
    text-align: center;
}

.img-thumbnail {
    display: inline-table;
    text-align: center;
    padding-bottom: 25px;
    border-width: 0px;
    display: table;
}

/* underline */
.portfolio-underline {
    background-color: #dfa4a2;
    height: 4px;
    width: 110px;
    right: 10px;
    position: relative;
    margin-top: 5px;
    margin-bottom: 20px;
}

.portfolio-underline-heart {
    color: #dfa4a2;
    position: relative;
    bottom: 10px;
    left: 75px;
}

/* underline end*/

/* Responsive */
@media (max-width:1399px) {
    .portfolio-images {

        width: auto;
    }

    .img-thumbnail {
        padding-bottom: 20px;
    }


}

@media (max-width: 1366px) {

    .img-thumbnail {
        padding-bottom: 20px;
    }

}



@media (max-width: 991px) {
    .portfolio {
        padding-top: 70px;

        padding-bottom: 100px;

    }

    .flex-container {
        column-count: 1;
    }

    .portfolio-images {
        height: auto;
    }


    .img-thumbnail {
        width: 100%;
    }

}

@media (max-width: 360px) {
    .portfolio {
        padding-top: 60px;
        padding-bottom: 100px;

    }

    .flex-container {
        column-count: 1;
    }

    .portfolio-images {
        height: auto;
    }



}