@use '../custom'as *;

.services {
  text-align: center;

}

.services-topic {
  padding-top: 70px;
  text-align: center;
  font-family: "vidu-black";
  font-size: 39px;
  font-weight: 700;
  text-align: center;
}

.service-img {
  margin-top: 10px;
}

.cards {
  padding-top: 50px;
  padding-bottom: 100px;

}

.services-details {
  height: 230px;
  font-family: "Roboto";
  font-size: 15px;
}

.services-column {
  padding-bottom: 20px;

}

.services-card {
  width: 250px;
}

.mobile_icon {
  height: 40px;

}

/* underline */
.services-underline {
  background-color: #dfa4a2;
  height: 4px;
  width: 170px;
  right: 10px;
  position: relative;
  margin-top: 10px;
}

.services-underline-heart {
  color: #dfa4a2;
  position: relative;
  bottom: 10px;
  left: 105px;
}

/* underline end*/


/* Responsive */
@media (min-width: 768px) {
  .mobile_icon {
    display: none;
  }
}

@media (max-width: 1559px) {
  .services-card {
    width: 240px;
  }

  .services-details {
    height: 230px;
  }

}

@media (max-width: 1452px) {
  .services-card {
    width: 230px;
  }

  .services-details {
    height: 230px;
  }

}


@media (max-width: 1399px) {
  .services-topic {
    padding-top: 70px;
    text-align: center;
    font-family: "Poppins";
    font-size: 39px;
    font-weight: 700;
    text-align: center;
  }

  .services-card {
    width: 200px;
  }

  .services-details {
    height: 280px;
  }
}
@media (max-width: 1366px) {
.services-column {
  padding-right: 200px;

}
}
@media (max-width: 1199px) {

  .services-card {
    width: 175px;
  }

  .services-details {
    height: 350px;
  }
  .services-column {
    padding-right: 0px;
  
  }

}

@media (max-width: 1024px) {
  .services-column {
    padding-right: 200px;
  
  }
}

@media (max-width: 991px) {
  .services {
    padding-top: 70px;
  }

  .services-card {
    width: auto;
  }

  .services-details {
    height: 200px;
  }

  .services-topic {
    padding-top: 0px;
  }

  .services-column {
    padding-right: 0px;
  
  }
}

@media (max-width: 767px) {

  .service-img {
    display: none;
  }

  .services-details {
    height: auto;
  }

}


@media (max-width: 360px) {


  .cards {
    padding-top: 15px;
    padding-bottom: 15px;
  }

}