@use '../custom'as *;

.testimonials-hearts{
    text-align: center;
    z-index: 2;
    
}

.testimonials-heart1{

    text-align: center;
    position: relative;
    top: 20px;
    right: 32px;
    font-size: 10px;
    z-index: 2;
    }
  .testimonials-heart2{
    text-align: center;
    position: relative;
    top: 20px;
    left: 56px;
    font-size: 10px;
    z-index: 2;
   
  }
.testimonials-row:before,
.testimonials-row:after {
    content: "";
    position: absolute;
    z-index: 1;
    width: 50rem;
    top: 0;
    height: 100%;
    pointer-events: none;
}

.testimonials-row:before {
    left: 0;
    background: linear-gradient(to right, rgba(245, 245, 245, 1), rgba(245, 245, 245, 0) 85%);
}

.testimonials-row:after {
    right: 0;
    background: linear-gradient(to left, rgba(245, 245, 245, 1), rgba(245, 245, 245, 0) 85%);
}

.arrow-prev:before,
.slick-next:before {
    color: #e2e0e0 !important;
    font-size: 2rem !important;
}

.arrow-prev,
.arrow-next {
    z-index: 2;
    cursor: pointer;
}

.arrow-next {
    position: relative;
    top: 175px;
    left: 1220px;
}

.arrow-prev {
    position: relative;
    top: 175px;

}

.testimonials-text-before {
    text-align: center;
    padding-top: 50px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.06);
    background-color: white;
    padding-left: 10px;
    padding-right: 10px;
}

.testimonials-img {
    position: absolute;
    top: -0px;
    right: 40%;
}

.testimonials {
    position: relative;
    padding-top: 65px;
    padding-bottom: 80px;
    background-color: #f5f5f5;
    
}

.testimonials-card {
    position: relative;
    background-color: #f5f5f5;
}

.testimonials-topic {
    position: relative;
    text-align: center;
    font-family: "vidu-black";
    font-size: 39px;
    font-weight: 700;
}

.testimonials-text {
    font-family:'vidu-black';
    font-weight: 500;
    padding-bottom: 20px;
    font-size: 12px;
    padding-right: 20px;
    padding-left: 20px;
}

.ratings {
    color: #f7c10b;
}

/* underline */
.testimonials-underline {
    background-color: #dfa4a2;
    height: 4px;
    width: 190px;
    right: 10px;
    position: relative;
    margin-top: 10px;
      }
      
      .testimonials-underline-heart{
        color: #dfa4a2;
  position: relative;
  bottom: 10px;
  left: 195px;
      }

/* underline end*/


/* Responsive */
@media (max-width: 1570px) {
    
    .testimonials {
        position: relative;
        padding-top: 70px;
      }

    .testimonials-row:before {
        left: 0;
        background: linear-gradient(to right, rgba(245, 245, 245, 1), rgba(245, 245, 245, 0) 85%);
        width: 50%;
    }

    .testimonials-row:after {
        right: 0;
        background: linear-gradient(to left, rgba(245, 245, 245, 1), rgba(245, 245, 245, 0) 85%);
        width: 50%;
    }
}

@media (max-width:1536px) {

    .arrow-next {
        position: relative;
        top: 175px;
        left: 1140px;
    }

    .arrow-prev {
        position: relative;
        top: 175px;
        right: 10px;

    }
}

@media (max-width:1440px) {


    .arrow-next {
        position: relative;
        top: 175px;
        left: 1130px;
    }

    .arrow-prev {
        position: relative;
        top: 175px;
        right: 25px;

    }

    .testimonials-img {
        right: 40%;
    }
}

@media (max-width: 1399px) {
    .arrow-next {
        position: relative;
        top: 175px;
        left: 970px;
    }

    .arrow-prev {
        position: relative;
        top: 175px;
        right: 25px;

    }

    .testimonials-img {
        right: 38%;
    }
}


@media (max-width: 1366px) {
    .arrow-next {
        position: relative;
        top: 175px;
        left: 970px;
    }

    .arrow-prev {
        position: relative;
        top: 175px;
        right: 25px;

    }

    .testimonials-img {
        right: 38%;
    }
}

@media (max-width: 1280px) {

    .arrow-next {
        position: relative;
        top: 175px;
        left: 960px;
    }

    .arrow-prev {
        position: relative;
        top: 175px;
        right: 25px;

    }

}

@media (max-width: 1199px) {

    .arrow-next {
        position: relative;
        top: 175px;
        left: 830px;
    }

    .arrow-prev {
        position: relative;
        top: 175px;
        right: 25px;

    }

}

@media (max-width: 1023px) {
    .testimonials-row:before {
        display: none;
    }

    .testimonials-row:after {
        display: none;

    }

    .arrow-next {
        position: relative;
        top: 150px;
        left: 830px;
    }

    .arrow-prev {
        position: relative;
        top: 150px;
        right: 25px;

    }

    .testimonials-img {
        right: 45%;
    }
}

@media (max-width: 991px) {


    .arrow-next {

        top: 155px;
        left: 655px;
    }

    .arrow-prev {

        top: 155px;
        right: 25px;

    }

    .testimonials-img {
        right: 44%;
    }
}


@media (max-width: 768px) {

    .arrow-next {

        top: 155px;
        left: 550px;
    }

    .arrow-prev {

        top: 155px;
        right: 25px;

    }

    .testimonials-img {
        right: 42%;
    }


}

@media (max-width: 767px) {

    .arrow-next {
        top: 155px;
        left: 470px;
    }

    .arrow-prev {
        top: 155px;
        right: 25px;

    }


    .testimonials-img {
        right: 42%;
    }
}

@media (max-width: 660px) {

    .arrow-next {
        left: 430px;
    }

    .arrow-prev {
        right: 25px;
    }

    .testimonials-img {
        right: 41%;
    }
}

@media (max-width: 656px) {

    .arrow-next {
        left: 430px;
    }


    .testimonials-img {
        right: 41%;
    }
}

@media (max-width: 575px) {

    .arrow-next {
        left: 400px;
    }

    .testimonials-img {
        right: 41%;
    }
}

@media (max-width: 568px) {

    .arrow-next {
        position: absolute;
        top: 275px;
        left: 88%;
    }

    .arrow-prev {
        position: absolute;
        top: 275px;
        left: 4%;

    }

    .testimonials-card {
        margin-top: 20px;
    }

}

@media (max-width: 500px) {
    .arrow-next {
        position: absolute;
        top: 280px;
        left: 88%;
    }

    .arrow-prev {
        position: absolute;
        top: 280px;
        left: 3%;

    }

    .testimonials-card {
        margin-top: 20px;
    }


}

@media (max-width: 460px) {
    .arrow-next {
        position: absolute;
        top: 280px;
        left: 88%;
    }

    .arrow-prev {
        position: absolute;
        top: 280px;
        left: 2%;

    }

    .testimonials-card {
        margin-top: 20px;
    }


}

@media (max-width: 414px) {
    .arrow-next {
        top: 290px;
        left: 87%;
    }

    .arrow-prev {
        top: 290px;
        left: 3%;
    }

    .testimonials-img {
        right: 37%;
    }
}

@media (max-width: 375px) {
    .arrow-next {
        top: 285px;
        left: 85%;
    }

    .arrow-prev {
        top: 285px;
        left: 2%;
    }


    .testimonials-img {
        right: 33%;
    }

}

@media (max-width: 360px) {

    .arrow-next {
        top: 290px;
        left: 87%;
    }

    .arrow-prev {
        top: 290px;
        left: 2%;
    }


    .testimonials-img {
        right: 37%;
    }


}