@font-face {
    font-family:'vidu-black';
    src: url('/assets/fonts/vidu-black.ttf');
}

@font-face {
    font-family:'vidu-light';
    src: url('/assets/fonts/vidu.ttf');
}
.html {
    scroll-behavior: smooth;
}

.body {
    font-family:'vidu-black';
}

#loading {
    position: fixed;
    width: 100%;
    height: 100vh;
    background: #100f11 url('../../assets/images/home_section/loading.gif') no-repeat center;
    z-index: 999999;

}

.container {
    padding-left: 10px;
    padding-right: 10px;
}

.section-end {
    padding-right: 50px;
    padding-left: 50px;
}

.line {
    height: 2px;
    background-color: #707070;
}

/* Responsive */
@media (max-width: 1536px) {
    .container {
        padding-left: 50px;
        padding-right: 50px;
    }

}

@media (max-width: 1440px) {
    .container {
        padding-left: 60px;
        padding-right: 60px;
    }
}

@media (max-width: 1366px) {
    .container {
        padding-left: 50px;
        padding-right: 50px;
    }

}

@media (max-width: 1199px) {
    .container {
        padding-left: 30px;
        padding-right: 30px;
    }
}

@media (max-width: 991px) {
    .container {
        padding-left: 0px;
        padding-right: 0px;
    }
}

@media (max-width: 768px) {
    .container {
        padding-left: 50px;
        padding-right: 50px;
    }

}

@media (max-width: 767px) {
    .container {
        padding-left: 0px;
        padding-right: 0px;
    }

}

@media (max-width: 660px) {
    .container {
        padding-left: 20px;
        padding-right: 20px;
    }

}

@media (max-width: 575px) {
    .container {
        padding-left: 50px;
        padding-right: 50px;
    }

}

@media (max-width: 540px) {
    .container {
        padding-left: 40px;
        padding-right: 40px;
    }

}

@media (max-width: 360px) {
    .container {
        padding-left: 20px;
        padding-right: 20px;
    }

}