@use '../sections/home'as *;
@use '../sections/navbar'as *;

@keyframes movedown {
  0% {
    transform: translateY(-100px);
    visibility: visible;
  }

  100% {
    transform: translateY(0);
    visibility: visible;
  }
}

@keyframes moveright {
  0% {
    transform: translateX(-100px);
    visibility: visible;
  }

  100% {
    transform: translateX(0);
    visibility: visible;
  }
}

@keyframes zoom-in-zoom-out {
  0% {
    transform: scale(0, 0);
  }

  100% {
    transform: scale(1, 1);
  }
}


@keyframes arrows {
  0% {
    border-left: $size/3 solid rgba(255, 255, 255, 0);
    border-bottom: $size/3 solid rgba(255, 255, 255, 0);
    transform: translate($size/-6, $size * 4/-6) rotate(-45deg);
  }

  10%,
  90% {
    border-left: $size/3 solid rgba(255, 255, 255, 0);
    border-bottom: $size/3 solid rgba(255, 255, 255, 0);
  }

  50% {
    border-left: $size/3 solid rgba(255, 255, 255, $peakopacity);
    border-bottom: $size/3 solid rgba(255, 255, 255, $peakopacity);
    transform: translate($size/-6, 0px) rotate(-45deg);
  }

  100% {
    border-left: $size/3 solid rgba(255, 255, 255, 0);
    border-bottom: $size/3 solid rgba(255, 255, 255, 0);
    transform: translate($size/-6, $size * 4/6) rotate(-45deg);
  }
}