@use '../custom'as *;

.about-btn {
    font-size: 20px;
    width: 156px;
    height: 48px;
    background-color: #dfa4a2;
}

.portfolio-btn {
    font-size: 20px;
    width: 156px;
    height: 48px;
    background-color: #dfa4a2;
}

.merchandise-btn {
    font-size: 20px;
    width: 156px;
    height: 48px;
    background-color: #dfa4a2;
}

.hire_me-btn {
    font-size: 20px;
    width: 156px;
    height: 48px;
    background-color: #dfa4a2;
}

.packages-btn {
    font-size: 20px;
    width: 156px;
    height: 48px;
    background-color: #dfa4a2;
}

.btn {
    border-radius: 0 !important;
    font-weight: 500;
}

.btn-outline-warning {
    border-color: #dfa4a2;
    color: #dfa4a2;
}

.btn:hover {
    background-color: #dfa4a2;
}

.btn:focus {

    box-shadow: 0 0 0 0.25rem #99706e;
}