@font-face {
  font-family: "vidu-black";
  src: url("/assets/fonts/vidu-black.ttf");
}
@font-face {
  font-family: "vidu-light";
  src: url("/assets/fonts/vidu.ttf");
}
.html {
  scroll-behavior: smooth;
}

.body {
  font-family: "vidu-black";
}

#loading {
  position: fixed;
  width: 100%;
  height: 100vh;
  background: #100f11 url("../../assets/images/home_section/loading.gif") no-repeat center;
  z-index: 999999;
}

.container {
  padding-left: 10px;
  padding-right: 10px;
}

.section-end {
  padding-right: 50px;
  padding-left: 50px;
}

.line {
  height: 2px;
  background-color: #707070;
}

/* Responsive */
@media (max-width: 1536px) {
  .container {
    padding-left: 50px;
    padding-right: 50px;
  }
}
@media (max-width: 1440px) {
  .container {
    padding-left: 60px;
    padding-right: 60px;
  }
}
@media (max-width: 1366px) {
  .container {
    padding-left: 50px;
    padding-right: 50px;
  }
}
@media (max-width: 1199px) {
  .container {
    padding-left: 30px;
    padding-right: 30px;
  }
}
@media (max-width: 991px) {
  .container {
    padding-left: 0px;
    padding-right: 0px;
  }
}
@media (max-width: 768px) {
  .container {
    padding-left: 50px;
    padding-right: 50px;
  }
}
@media (max-width: 767px) {
  .container {
    padding-left: 0px;
    padding-right: 0px;
  }
}
@media (max-width: 660px) {
  .container {
    padding-left: 20px;
    padding-right: 20px;
  }
}
@media (max-width: 575px) {
  .container {
    padding-left: 50px;
    padding-right: 50px;
  }
}
@media (max-width: 540px) {
  .container {
    padding-left: 40px;
    padding-right: 40px;
  }
}
@media (max-width: 360px) {
  .container {
    padding-left: 20px;
    padding-right: 20px;
  }
}
.arrows {
  animation: movedown 1s linear 1;
  animation-delay: 3s;
  visibility: hidden;
  animation-fill-mode: forwards;
  position: relative;
  bottom: -230px;
  left: 35%;
  width: 20px;
  height: 20px;
  transform: translate(-50%, -50%);
}
.arrows:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  border-left: 6.6666666667px solid rgba(0, 0, 0, 0.7);
  border-bottom: 6.6666666667px solid rgba(0, 0, 0, 0.7);
  transform: translate(6.6666666667px, 26.6666666667px) rotate(-45deg);
  animation: arrows 3s linear infinite;
}
.arrows:after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  border-left: 6.6666666667px solid rgba(255, 255, 255, 0.7);
  border-bottom: 6.6666666667px solid rgba(255, 255, 255, 0.7);
  transform: translate(13.3333333333px, 0px) rotate(-45deg);
  animation: arrows 3s linear infinite -1.5s;
}

.home-section {
  background-image: url("../../assets/images/home_section/banner.svg");
  background-position: top;
  background-size: auto;
  background-repeat: no-repeat;
  padding-bottom: 180px;
}

.intros i {
  font-size: 6rem;
}

.home-body {
  position: relative;
  right: 220px;
  padding-top: 20%;
  font-family: "vidu-black";
  animation: moveright 1.5s linear 1;
  animation-delay: 2s;
  visibility: hidden;
  animation-fill-mode: forwards;
}
.home-body--intro {
  font-size: 48px;
  display: inline-block;
  font-weight: normal;
  font-family: "vidu-black";
}
.home-body--description {
  font-size: 30px;
  display: block;
  text-transform: none;
  padding-bottom: 10px;
  font-family: "vidu-light";
  letter-spacing: 2px;
}
.home-body .home-body-heart2 {
  font-size: 6px;
  bottom: 38px;
  left: 185px;
}
.home-body .home-body-heart3 {
  font-size: 6px;
  bottom: 38px;
  left: 185px;
}
.home-body .home-body-heart4 {
  font-size: 6px;
  bottom: 38px;
  left: 185px;
}

.home-heart {
  font-size: 13px;
  position: relative;
  bottom: 29px;
  right: 110px;
}

/* Responsive */
@media (min-width: 1980px) {
  .home-section {
    padding-top: 0px;
    background-size: auto;
  }
  .home-section .arrows {
    top: 245px;
    left: 30%;
  }
}
@media (max-width: 1800px) {
  .home-section .arrows {
    top: 205px;
    left: 40%;
  }
}
@media (max-width: 1760px) {
  .home-section {
    background-size: auto;
  }
  .home-section .arrows {
    top: 200px;
    left: 40%;
  }
}
@media (max-width: 1640px) {
  .home-section {
    background-size: auto;
  }
  .home-section .arrows {
    top: 170px;
    left: 45%;
  }
}
@media (max-width: 1590px) {
  .home-section {
    padding-bottom: 130px;
    background-size: auto;
  }
  .home-section .arrows {
    bottom: -10px;
    left: 45%;
  }

  .home-body {
    right: 200px;
    padding-top: 15%;
  }
}
@media (max-width: 1475px) {
  .home-section {
    padding-bottom: 110px;
    background-size: auto;
  }
  .home-section .arrows {
    top: 150px;
    left: 46%;
  }

  .home-body {
    left: -100px;
    padding-top: 16%;
  }
}
@media (max-width: 1440px) {
  .home-section {
    padding-bottom: 125px;
    background-size: auto;
  }
  .home-section .arrows {
    top: 155px;
    left: 48%;
  }

  .home-body {
    right: 130px;
    padding-top: 17%;
  }
  .home-body--intro {
    font-size: 40px;
  }
  .home-body--description {
    font-size: 25px;
  }

  .home-heart {
    position: relative;
    bottom: 24px;
    right: 92px;
    font-size: 10px;
  }
}
@media (max-width: 1399px) {
  .home-section .arrows {
    top: 160px;
    left: 40%;
  }
}
@media (max-width: 1366px) {
  .home-section {
    padding-bottom: 115px;
    background-size: auto;
  }
  .home-section .arrows {
    top: 120px;
    left: 40%;
  }

  .home-body {
    right: -80px;
    padding-top: 17%;
  }
  .home-body--intro {
    font-size: 40px;
  }
  .home-body--description {
    font-size: 25px;
  }

  .banner-img-kalaristry {
    margin-top: 60px;
  }

  .banner-img {
    padding-left: 100px;
    height: 180px;
  }
}
@media (max-width: 1350px) {
  .home-section {
    padding-bottom: 120px;
    background-size: auto;
  }
  .home-section .arrows {
    bottom: -10px;
    left: 40%;
  }

  .home-body {
    left: -130px;
    padding-top: 15%;
  }
}
@media (max-width: 1320px) {
  .home-section {
    padding-bottom: 115px;
    background-size: auto;
  }
  .home-section .arrows {
    bottom: -10px;
    left: 45%;
  }
}
@media (max-width: 1290px) {
  .home-section {
    padding-bottom: 110px;
    background-size: auto;
    background: url("../../assets/images/home_section/banner_1200px.svg");
    background-repeat: no-repeat;
  }
  .home-section .arrows {
    top: 120px;
    left: 53%;
  }

  .home-body {
    right: 200px;
    padding-top: 20%;
  }
  .home-body--intro {
    font-size: 35px;
  }
  .home-body--description {
    font-size: 25px;
  }

  .home-heart {
    position: relative;
    bottom: 21px;
    right: 81px;
    font-size: 9px;
  }
}
@media (max-width: 1250px) {
  .home-section {
    padding-bottom: 110px;
  }
}
@media (max-width: 1199px) {
  .home-section {
    padding-bottom: 130px;
    background-size: auto;
  }
  .home-section .arrows {
    bottom: 0px;
    left: 50%;
  }

  .home-body {
    right: 200px;
    padding-top: 15%;
  }
}
@media (max-width: 1140px) {
  .home-section {
    background-size: auto;
    padding-bottom: 9%;
  }
  .home-section .arrows {
    top: 110px;
    left: 52%;
  }

  .home-body {
    right: 200px;
    padding-top: 18%;
  }

  .banner-img-kalaristry {
    margin-top: 40px;
  }

  .banner-img {
    padding-left: 100px;
    height: 140px;
  }
}
@media (max-width: 1082px) {
  .home-section {
    background-repeat: no-repeat;
    padding-bottom: 90px;
  }
  .home-section .arrows {
    top: 95px;
    left: 55%;
  }
}
@media (max-width: 1024px) {
  .home-section {
    background: url("/assets/images/home_section/banner_1000px.svg");
    padding-bottom: 70px;
    background-repeat: no-repeat;
  }
  .home-section .arrows {
    top: 75px;
    left: 60%;
  }

  .home-body {
    right: 110px;
    padding-top: 20%;
  }
}
@media (max-width: 991px) {
  .home-section {
    background-repeat: no-repeat;
    padding-bottom: 100px;
  }
  .home-section .arrows {
    top: 80px;
    left: 50%;
  }

  .home-body {
    left: -40px;
    padding-top: 20%;
  }
  .home-body--intro {
    font-size: 28px;
  }
  .home-body--description {
    font-size: 18px;
  }
  .home-body .home-body-heart2 {
    font-size: 4px;
    bottom: 38px;
    left: 185px;
  }
  .home-body .home-body-heart3 {
    font-size: 4px;
    bottom: 38px;
    left: 185px;
  }
  .home-body .home-body-heart4 {
    font-size: 4px;
    bottom: 38px;
    left: 185px;
  }

  .home-heart {
    position: relative;
    bottom: 17px;
    right: 66px;
    font-size: 7px;
  }
}
@media (max-width: 956px) {
  .home-section {
    background-repeat: no-repeat;
    padding-bottom: 95px;
  }
  .home-section .arrows {
    top: 90px;
    left: 50%;
  }

  .home-body {
    left: -25px;
    padding-top: 20%;
  }
  .home-body--intro {
    font-size: 25px;
  }
  .home-body--description {
    font-size: 15px;
  }

  .home-heart {
    bottom: 15px;
    right: 59px;
    font-size: 6px;
  }
}
@media (max-width: 910px) {
  .home-section {
    background-repeat: no-repeat;
    padding-bottom: 85px;
  }
  .home-section .arrows {
    top: 82px;
    left: 52%;
  }

  .home-body {
    left: -45px;
    padding-top: 20%;
  }
  .home-body--intro {
    font-size: 25px;
  }
  .home-body--description {
    font-size: 15px;
  }
}
@media (max-width: 851px) {
  .home-section .arrows {
    top: 70px;
    left: 55%;
  }
}
@media (max-width: 834px) {
  .home-section {
    background-size: auto;
    background-image: url("../../assets/images/home_section/banner_800px.svg");
    padding-bottom: 120px;
  }
  .home-section .arrows {
    top: 110px;
    left: 58%;
  }

  .home-body {
    right: 100px;
    padding-top: 20%;
  }
}
@media (max-width: 808px) {
  .home-section .arrows {
    top: 100px;
    left: 57%;
  }
}
@media (max-width: 768px) {
  .home-section {
    background-size: auto;
    padding-bottom: 110px;
  }
  .home-section .arrows {
    top: 65px;
    left: 55%;
  }

  .home-body {
    right: 100px;
    padding-top: 18%;
  }
  .home-body--intro {
    font-size: 28px;
  }
  .home-body--description {
    font-size: 15px;
    bottom: 20px;
  }

  .home-heart {
    position: relative;
    bottom: 46px;
    right: -87px;
    font-size: 7px;
  }
}
@media (max-width: 767px) {
  .home-section {
    background-image: url("../../assets/images/home_section/banner_600px.svg");
    background-size: auto;
    padding-bottom: 75px;
  }
  .home-section .arrows {
    top: 80px;
    left: 50%;
  }

  .home-body {
    right: 100px;
    padding-top: 30%;
  }

  .home-heart {
    position: relative;
    bottom: 46px;
    right: -87px;
    font-size: 7px;
  }
}
@media (max-width: 708px) {
  .home-section .arrows {
    top: 70px;
    left: 55%;
  }
}
@media (max-width: 660px) {
  .home-section {
    background-size: auto;
    padding-bottom: 55px;
  }
  .home-section .arrows {
    top: 55px;
    left: 55%;
  }

  .home-body {
    right: 100px;
    padding-top: 25%;
  }

  .home-heart {
    position: relative;
    bottom: 46px;
    right: -87px;
    font-size: 7px;
  }
}
@media (max-width: 599px) {
  .home-section {
    background-image: url("../../assets/images/home_section/banner_500px.svg");
    background-size: auto;
    padding-top: 0px;
    padding-bottom: 110px;
  }
  .home-section .arrows {
    top: 95px;
    left: 50%;
  }

  .home-body {
    right: 120px;
    padding-top: 25%;
  }

  .home-heart {
    position: relative;
    bottom: 46px;
    right: -87px;
    font-size: 7px;
  }
}
@media (max-width: 575px) {
  .home-section .arrows {
    top: 90px;
    left: 45%;
  }
}
@media (max-width: 535px) {
  .home-section .arrows {
    top: 80px;
    left: 45%;
  }
}
@media (max-width: 493px) {
  .home-section {
    background-image: url("../../assets/images/home_section/banner_400px.svg");
    background-size: auto;
    padding-bottom: 112px;
  }
  .home-section .arrows {
    top: 110px;
    left: 48%;
  }

  .home-body {
    left: -15px;
    padding-top: 40%;
  }
  .home-body--intro {
    font-size: 24px;
  }
  .home-body--description {
    font-size: 15px;
    bottom: 20px;
  }

  .home-heart {
    position: relative;
    bottom: 42px;
    right: -74.5px;
    font-size: 6px;
  }
}
@media (max-width: 453px) {
  .home-section .arrows {
    top: 98px;
    left: 50%;
  }
}
@media (max-width: 432px) {
  .home-section {
    padding-bottom: 100px;
  }
  .home-section .arrows {
    top: 85px;
    left: 45%;
  }
}
@media (max-width: 414px) {
  .home-section {
    padding-bottom: 80px;
  }
  .home-section .arrows {
    top: 80px;
    left: 45%;
  }

  .home-body {
    right: 10px;
    padding-top: 50%;
  }
  .home-body--intro {
    font-size: 18px;
  }
  .home-body--description {
    font-size: 10px;
  }
  .home-body .home-body-heart2 {
    font-size: 2px;
    bottom: 38px;
    left: 185px;
  }
  .home-body .home-body-heart3 {
    font-size: 2px;
    bottom: 38px;
    left: 185px;
  }
  .home-body .home-body-heart4 {
    font-size: 2px;
    bottom: 38px;
    left: 185px;
  }

  .home-heart {
    position: relative;
    bottom: 34.5px;
    right: -55.5px;
    font-size: 5px;
  }
}
@media (max-width: 397px) {
  .home-section {
    padding-bottom: 80px;
  }
  .home-section .arrows {
    top: 70px;
    left: 45%;
  }

  .home-body {
    right: 10px;
    padding-top: 50%;
  }
  .home-body--intro {
    font-size: 18px;
  }
  .home-body--description {
    font-size: 10px;
  }

  .home-heart {
    position: relative;
    bottom: 34.5px;
    right: -55.5px;
    font-size: 5px;
  }
}
@media (max-width: 359px) {
  .home-section .arrows {
    top: 60px;
    left: 50%;
  }
}
@media (max-width: 347px) {
  .home-section {
    padding-bottom: 60px;
  }
  .home-section .arrows {
    top: 50px;
    left: 45%;
  }

  .home-body {
    right: 10px;
    padding-top: 45%;
  }
  .home-body--intro {
    font-size: 18px;
  }
  .home-body--description {
    font-size: 10px;
  }

  .home-heart {
    position: relative;
    bottom: 35px;
    right: -56px;
    font-size: 4.5px;
  }
}
@media (max-width: 328px) {
  .home-section {
    background-size: auto;
    padding-bottom: 40px;
  }
}
.navbar {
  height: 60px;
  animation: movedown 1s linear 1;
  animation-delay: 0.7s;
  visibility: hidden;
  animation-fill-mode: forwards;
  font-family: "poppins";
}

.nav-link {
  color: white;
}

.nav-link:hover {
  color: #dfa4a2 !important;
}

.bg-dark {
  background-color: #99706e !important;
}

nav .navbar-nav li a {
  color: white !important;
  font-size: 16px;
  margin-left: 20px;
}

.navbar .active {
  color: #dfa4a2 !important;
}

.navbar-toggle {
  border: none;
  background: transparent !important;
}

.navbar-toggle:hover {
  background: transparent !important;
}

.navbar-toggle .icon-bar {
  width: 22px;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}

.navbar-nav {
  text-align: center;
}

/* Icon 1 */
.animated-icon1,
.animated-icon2,
.animated-icon3 {
  width: 30px;
  height: 20px;
  position: relative;
  margin: 0px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: 0.5s ease-in-out;
  -moz-transition: 0.5s ease-in-out;
  -o-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
  cursor: pointer;
}

.animated-icon1 span,
.animated-icon2 span,
.animated-icon3 span {
  display: block;
  position: absolute;
  height: 3px;
  width: 100%;
  border-radius: 9px;
  opacity: 1;
  left: 0;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: 0.25s ease-in-out;
  -moz-transition: 0.25s ease-in-out;
  -o-transition: 0.25s ease-in-out;
  transition: 0.25s ease-in-out;
}

.animated-icon1 span {
  background: white;
}

.animated-icon2 span {
  background: #e3f2fd;
}

.animated-icon3 span {
  background: #f3e5f5;
}

.animated-icon1 span:nth-child(1) {
  top: 0px;
}

.animated-icon1 span:nth-child(2) {
  top: 10px;
}

.animated-icon1 span:nth-child(3) {
  top: 20px;
}

.animated-icon1.open span:nth-child(1) {
  top: 11px;
  -webkit-transform: rotate(135deg);
  -moz-transform: rotate(135deg);
  -o-transform: rotate(135deg);
  transform: rotate(135deg);
}

.animated-icon1.open span:nth-child(2) {
  opacity: 0;
  left: -60px;
}

.animated-icon1.open span:nth-child(3) {
  top: 11px;
  -webkit-transform: rotate(-135deg);
  -moz-transform: rotate(-135deg);
  -o-transform: rotate(-135deg);
  transform: rotate(-135deg);
}

.first-button {
  border: none;
}

/* Responsive */
@media (max-width: 1475px) {
  nav .navbar-nav li a {
    margin-left: 0px;
  }
}
@media (max-width: 1190px) {
  nav .navbar-nav li a {
    font-size: 14px;
  }
}
@media (max-width: 1024px) {
  .navbar-nav {
    padding-right: 30px;
  }

  .navbar-logo {
    height: 35px;
    padding-bottom: 5px;
    padding-left: 70px;
  }
}
@media (min-width: 992px) {
  .animated-icon1,
.animated-icon2,
.animated-icon3 {
    display: none;
  }
}
@media (max-width: 991px) {
  .navbar-nav {
    background-color: #99706e !important;
    border-radius: 0%;
  }

  nav .navbar-nav li a {
    border-radius: 5%;
    box-shadow: 0 4px 10px 0 rgba(255, 255, 255, 0.2), 0 6px 20px 0 rgba(255, 255, 255, 0.19);
  }

  .navbar-logo {
    height: 35px;
    padding-bottom: 5px;
    padding-left: 0px;
  }

  .navbar-nav {
    padding-right: 0px;
  }
}
@media (max-width: 768px) {
  .navbar {
    padding-left: 20px;
    padding-right: 20px;
    animation: none;
    visibility: visible;
  }
}
@media (max-width: 360px) {
  .navbar {
    background-color: transparent;
    animation: none;
    visibility: visible;
    padding-right: 10px;
  }

  .navbar-logo {
    height: 30px;
  }
}
@keyframes movedown {
  0% {
    transform: translateY(-100px);
    visibility: visible;
  }
  100% {
    transform: translateY(0);
    visibility: visible;
  }
}
@keyframes moveright {
  0% {
    transform: translateX(-100px);
    visibility: visible;
  }
  100% {
    transform: translateX(0);
    visibility: visible;
  }
}
@keyframes zoom-in-zoom-out {
  0% {
    transform: scale(0, 0);
  }
  100% {
    transform: scale(1, 1);
  }
}
@keyframes arrows {
  0% {
    border-left: 6.6666666667px solid rgba(255, 255, 255, 0);
    border-bottom: 6.6666666667px solid rgba(255, 255, 255, 0);
    transform: translate(-3.3333333333px, -13.3333333333px) rotate(-45deg);
  }
  10%, 90% {
    border-left: 6.6666666667px solid rgba(255, 255, 255, 0);
    border-bottom: 6.6666666667px solid rgba(255, 255, 255, 0);
  }
  50% {
    border-left: 6.6666666667px solid rgba(255, 255, 255, 0.7);
    border-bottom: 6.6666666667px solid rgba(255, 255, 255, 0.7);
    transform: translate(-3.3333333333px, 0px) rotate(-45deg);
  }
  100% {
    border-left: 6.6666666667px solid rgba(255, 255, 255, 0);
    border-bottom: 6.6666666667px solid rgba(255, 255, 255, 0);
    transform: translate(-3.3333333333px, 13.3333333333px) rotate(-45deg);
  }
}
.about-btn {
  font-size: 20px;
  width: 156px;
  height: 48px;
  background-color: #dfa4a2;
}

.portfolio-btn {
  font-size: 20px;
  width: 156px;
  height: 48px;
  background-color: #dfa4a2;
}

.merchandise-btn {
  font-size: 20px;
  width: 156px;
  height: 48px;
  background-color: #dfa4a2;
}

.hire_me-btn {
  font-size: 20px;
  width: 156px;
  height: 48px;
  background-color: #dfa4a2;
}

.packages-btn {
  font-size: 20px;
  width: 156px;
  height: 48px;
  background-color: #dfa4a2;
}

.btn {
  border-radius: 0 !important;
  font-weight: 500;
}

.btn-outline-warning {
  border-color: #dfa4a2;
  color: #dfa4a2;
}

.btn:hover {
  background-color: #dfa4a2;
}

.btn:focus {
  box-shadow: 0 0 0 0.25rem #99706e;
}

.about-heart {
  position: relative;
  font-size: 7px;
  left: 176px;
  top: 15px;
}

.about-section {
  padding-top: 70px;
  padding-bottom: 10px;
  font-family: "Poppins";
}

.about-image {
  height: 400px;
  padding-top: 0px;
  bottom: 10px;
}

.about-body2 {
  text-align: center;
}

.about-body {
  font-family: "vidu-black";
  position: relative;
  top: 50px;
  left: 10%;
}

.about-bold {
  font-size: 20px;
  padding-top: 10px;
}

.about-text {
  padding-top: 0px;
}

.about-light {
  font-family: "Roboto";
  font-size: 18px;
}

/* underline */
.about-underline {
  background-color: #dfa4a2;
  height: 4px;
  width: 160px;
  position: relative;
}

.about-underline-heart {
  color: #dfa4a2;
  position: relative;
  bottom: 10px;
  left: 170px;
}

/* underline end*/
/* Responsive */
@media (max-width: 1536px) {
  .about-image {
    height: 400px;
    padding-top: 10px;
    background-position: top;
    bottom: 10px;
  }
}
@media (max-width: 1399px) {
  .about-image {
    height: 350px;
    padding-top: 0px;
    background-position: top;
    bottom: 10px;
  }
}
@media (max-width: 1199px) {
  .about-body {
    position: relative;
    top: 30px;
  }

  .about-heart {
    position: relative;
    font-size: 7px;
    left: 175px;
    top: 15px;
  }
}
@media (max-width: 1090px) {
  .about-heart {
    left: 173px;
    top: 15px;
  }
}
@media (max-width: 1040px) {
  .about-heart {
    position: relative;
    font-size: 7px;
    left: 172px;
    top: 15px;
  }
}
@media (max-width: 991px) {
  .about-section {
    padding-top: -60px;
    padding-bottom: 0px;
  }

  .about-body {
    padding-top: 0px;
    position: unset;
  }

  .about-heart {
    visibility: hidden;
    display: none;
  }

  .about-image {
    display: none;
  }

  .about-text {
    display: none;
  }

  .about-underline {
    display: none;
  }

  .about-bold {
    display: none;
  }

  .about-btn {
    display: none;
  }
}
@media (max-width: 768px) {
  .about-image {
    display: none;
  }

  .about-section {
    padding-top: 20px;
  }

  .about-body {
    bottom: 0px;
    left: 0%;
  }
}
@media (max-width: 366px) {
  .about-section {
    padding-top: 5px;
  }
}
.contact {
  font-family: "poppins";
  color: black;
  background-color: #fdf4f4;
  padding-bottom: 50px;
  padding-top: 10px;
  text-align: center;
}

.contact-details {
  text-align: center;
}

.contact-icon {
  padding-top: 100px;
  text-align: center;
}

@media (max-width: 767px) {
  .contact-row {
    display: grid;
  }

  .contact-icon {
    padding-top: 0px;
  }

  .contact {
    padding-bottom: 20px;
    padding-top: 30px;
  }
}
.footer {
  background-color: #99706e;
  text-align: center;
  color: white;
  padding-bottom: 10px;
}

.social-icons {
  padding-left: 5px;
  padding-right: 5px;
  padding-top: 20px;
  padding-bottom: 10px;
  color: white;
}

.fa-facebook:hover {
  color: #dfa4a2;
}

.fa-instagram:hover {
  color: #dfa4a2;
}

.fa-youtube:hover {
  color: #dfa4a2;
}

.rights {
  font-family: "vidu-black";
  font-size: 15px;
  padding-bottom: 0px;
  color: white;
  text-decoration: none;
  font-weight: 400;
}

a:link {
  text-decoration: none;
  color: white;
}

.hire_me-text {
  font-family: "Roboto";
}

.contact-icon {
  margin-top: 20px;
  padding-bottom: 10px;
}

.design_develop {
  font-size: 14px;
  text-decoration: none;
  margin-top: 10px;
  color: white;
  font-weight: 300;
}

.merchandise-heart {
  position: relative;
  top: 90px;
  left: 79px;
  font-size: 10px;
}

.merchandise {
  text-align: center;
  font-family: "Poppins";
}

.merchandise-topic {
  font-family: "vidu-black";
  font-size: 39px;
  font-weight: 700;
  padding-top: 70px;
}

.hover-price {
  opacity: 0;
  transform: all 0.3s ease-in-out;
}

.products:hover .hover-price {
  opacity: 1;
}

.merchandise-button {
  padding-top: 30px;
  padding-bottom: 70px;
}

.merchandise-underline {
  margin-bottom: 60px;
}

.post-slider {
  position: relative;
}

.post-slider .next {
  position: absolute;
  top: 50%;
  right: 30px;
  font-size: 2em;
  color: #006669;
  cursor: pointer;
}

.post-slider .prev {
  position: absolute;
  top: 50%;
  left: 30px;
  font-size: 2em;
  color: #006669;
  cursor: pointer;
}

.post-slider .post-wrapper .post {
  margin-left: 5px;
  margin-right: 5px;
  background: white;
}

.post-slider .post-wrapper .post .slider-image {
  width: 100%;
}

.post-slider .next {
  right: -5px;
  top: -6px;
}

.post-slider .prev {
  left: 6px;
  top: -6px;
}

.effect {
  position: relative;
  margin-bottom: 30px;
  overflow: hidden;
}

.effect .effect-img {
  position: relative;
  font-size: 0;
  overflow: hidden;
}

.effect .effect-img img {
  position: relative;
  width: 100%;
  height: auto;
  transform: scale(1.2);
  bottom: -25px;
  transition: 0.5s;
}

.effect:hover .effect-img img {
  bottom: 0;
}

.effect .effect-text {
  position: absolute;
  width: 100%;
  height: 100%;
  padding: 30px;
  top: 50%;
  left: 0;
  text-align: center;
  background: rgba(0, 0, 0, 0.2);
  opacity: 0;
  transition: 0.5s;
}

.effect:hover .effect-text {
  top: 0;
  opacity: 1;
}

.effect .effect-heading {
  position: absolute;
  width: 100%;
  padding: 15px 7.5px;
  left: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
}

.effect .effect-text h2 {
  display: inline-block;
  color: #ffffff;
  font-size: 22px;
  font-weight: 400;
  margin: 5px 7.5px 0 7.5px;
}

.post {
  padding-left: 10px;
  padding-right: 10px;
}

/* underline */
.merchandise-underline {
  background-color: #dfa4a2;
  height: 4px;
  width: 190px;
  right: 16px;
  position: relative;
  margin-top: 10px;
}

.merchandise-underline-heart {
  color: #dfa4a2;
  position: relative;
  bottom: 10px;
  left: 115px;
}

/* underline end*/
/* Responsive */
@media (min-width: 1920px) {
  .prev-arrow,
.next-arrow {
    height: 365px;
  }
}
@media (max-width: 1920px) {
  .prev-arrow,
.next-arrow {
    height: 360px;
  }
}
@media (max-width: 1536px) {
  .prev-arrow,
.next-arrow {
    height: 30%;
  }
}
@media (max-width: 1399px) {
  .prev-arrow,
.next-arrow {
    height: 280px;
  }
}
@media (max-width: 1394px) {
  .prev-arrow,
.next-arrow {
    height: 280px;
  }
}
@media (max-width: 1366px) {
  .prev-arrow,
.next-arrow {
    height: 285px;
  }
}
@media (max-width: 1199px) {
  .prev-arrow,
.next-arrow {
    height: 245px;
  }
}
@media (max-width: 991px) {
  .prev-arrow,
.next-arrow {
    height: 190px;
  }
}
@media (max-width: 919px) {
  .prev-arrow,
.next-arrow {
    height: 400px;
  }
}
@media (max-width: 768px) {
  .prev-arrow,
.next-arrow {
    height: 340px;
  }
}
@media (max-width: 767px) {
  .prev-arrow,
.next-arrow {
    height: 300px;
  }
}
@media (max-width: 660px) {
  .prev-arrow,
.next-arrow {
    height: 275px;
  }
}
@media (max-width: 575px) {
  .prev-arrow,
.next-arrow {
    height: 255px;
  }
}
@media (max-width: 555px) {
  .prev-arrow,
.next-arrow {
    height: 248px;
  }
}
@media (max-width: 540px) {
  .prev-arrow,
.next-arrow {
    height: 250px;
  }
}
@media (max-width: 519px) {
  .prev-arrow,
.next-arrow {
    height: 235px;
  }
}
@media (max-width: 496px) {
  .prev-arrow,
.next-arrow {
    height: 220px;
  }
}
@media (max-width: 479px) {
  .prev-arrow,
.next-arrow {
    height: 445px;
  }
}
@media (max-width: 470px) {
  .prev-arrow,
.next-arrow {
    height: 435px;
  }
}
@media (max-width: 460px) {
  .prev-arrow,
.next-arrow {
    height: 430px;
  }
}
@media (max-width: 454px) {
  .prev-arrow,
.next-arrow {
    height: 415px;
  }
}
@media (max-width: 445px) {
  .prev-arrow,
.next-arrow {
    height: 400px;
  }
}
@media (max-width: 435px) {
  .prev-arrow,
.next-arrow {
    height: 390px;
  }
}
@media (max-width: 424px) {
  .prev-arrow,
.next-arrow {
    height: 380px;
  }
}
@media (max-width: 414px) {
  .merchandise-button {
    padding-top: 20px;
    padding-bottom: 70px;
  }

  .prev-arrow,
.next-arrow {
    height: 370px;
  }
}
@media (max-width: 407px) {
  .merchandise-button {
    padding-top: 20px;
    padding-bottom: 70px;
  }

  .prev-arrow,
.next-arrow {
    height: 360px;
  }
}
@media (max-width: 400px) {
  .prev-arrow,
.next-arrow {
    height: 350px;
  }
}
@media (max-width: 392px) {
  .prev-arrow,
.next-arrow {
    height: 340px;
  }
}
@media (max-width: 380px) {
  .merchandise-button {
    padding-top: 20px;
    padding-bottom: 70px;
  }

  .prev-arrow,
.next-arrow {
    height: 330px;
  }
}
@media (max-width: 375px) {
  .prev-arrow,
.next-arrow {
    height: 320px;
  }
}
@media (max-width: 365px) {
  .merchandise-button {
    padding-top: 20px;
    padding-bottom: 70px;
  }

  .prev-arrow,
.next-arrow {
    height: 315px;
  }
}
@media (max-width: 360px) {
  .merchandise-button {
    padding-top: 20px;
    padding-bottom: 70px;
  }

  .prev-arrow,
.next-arrow {
    height: 355px;
  }
}
@media (max-width: 355px) {
  .prev-arrow,
.next-arrow {
    height: 348px;
  }
}
@media (max-width: 350px) {
  .prev-arrow,
.next-arrow {
    height: 343px;
  }
}
@media (max-width: 345px) {
  .prev-arrow,
.next-arrow {
    height: 335px;
  }
}
@media (max-width: 340px) {
  .prev-arrow,
.next-arrow {
    height: 330px;
  }
}
@media (max-width: 335px) {
  .prev-arrow,
.next-arrow {
    height: 325px;
  }
}
@media (max-width: 330px) {
  .prev-arrow,
.next-arrow {
    height: 320px;
  }
}
@media (max-width: 325px) {
  .prev-arrow,
.next-arrow {
    height: 313px;
  }
}
@media (max-width: 320px) {
  .prev-arrow,
.next-arrow {
    height: 308px;
  }
}
@media (max-width: 315px) {
  .prev-arrow,
.next-arrow {
    height: 300px;
  }
}
@media (max-width: 310px) {
  .prev-arrow,
.next-arrow {
    height: 295px;
  }
}
@media (max-width: 305px) {
  .prev-arrow,
.next-arrow {
    height: 290px;
  }
}
@media (max-width: 300px) {
  .prev-arrow,
.next-arrow {
    height: 285px;
  }
}
.packages-heart1 {
  position: relative;
  top: 93px;
  left: 100px;
  font-size: 10px;
}

.packages-heart2 {
  position: relative;
  top: 93px;
  left: 115px;
  font-size: 10px;
}

.card-packages {
  font-family: "vidu-black";
  width: 250px;
  height: 300px;
  background-color: white;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.06);
}

.card-packages-details {
  padding-top: 20px;
}

.card-packages-topic {
  padding-bottom: 25px;
  font-weight: 550;
  font-size: 20px;
}

.card-packages-wedding-topic {
  padding-left: 25px;
  padding-right: 25px;
  padding-bottom: 22px;
  font-weight: 550;
  font-size: 18px;
}

.card-packages-wedding-icon {
  padding-top: 35px;
}

.card-packages-icon {
  padding-top: 40px;
  margin-bottom: 10px;
}

.packages-icon {
  height: 80px;
}

.packages {
  text-align: center;
  padding-bottom: 50px;
  background-color: #f5f4f4;
  text-align: center;
}

.packages-topic {
  font-family: "vidu-black";
  text-align: center;
  font-size: 39px;
  font-weight: 700;
  padding-top: 70px;
}

.packages-body {
  text-align: center;
}

.packages-details {
  width: 1100px;
  text-align: center;
}

/* underline */
.packages-underline {
  background-color: #dfa4a2;
  height: 4px;
  width: 260px;
  right: 20px;
  position: relative;
  margin-top: 10px;
}

.packages-underline-heart {
  color: #dfa4a2;
  position: relative;
  bottom: 10px;
  left: 150px;
}

/* underline end*/
/* Responsive */
@media (max-width: 1366px) {
  .card-packages {
    width: auto;
    height: 310px;
  }

  .card-packages-wedding-topic {
    padding-bottom: 22px;
  }

  .packages-details {
    width: auto;
    text-align: center;
  }
}
@media (max-width: 1197px) {
  .card-packages {
    height: 290px;
  }

  .card-packages-wedding-topic {
    padding-left: 25px;
    padding-right: 25px;
    padding-bottom: 5px;
    font-weight: 550;
    font-size: 18px;
  }

  .card-packages-wedding-icon {
    padding-top: 30px;
  }
}
@media (max-width: 991px) {
  .card-packages {
    height: 290px;
    width: 220px;
    margin-bottom: 10px;
  }

  .card-packages-wedding-topic {
    padding-left: 50px;
    padding-right: 50px;
    padding-bottom: 10px;
    font-weight: 550;
    font-size: 18px;
  }

  .card-packages-wedding-icon {
    padding-top: 30px;
  }

  .packages-details {
    width: 500px;
    text-align: center;
  }
}
@media (max-width: 600px) {
  .card-packages {
    height: 290px;
    width: 200px;
  }

  .card-packages-wedding-topic {
    padding-left: 50px;
    padding-right: 50px;
    padding-bottom: 10px;
    font-weight: 550;
    font-size: 18px;
  }

  .card-packages-wedding-icon {
    padding-top: 30px;
  }

  .packages-details {
    width: 400px;
    text-align: center;
  }
}
@media (max-width: 478px) {
  .packages {
    padding-left: 5%;
  }

  .card-packages {
    height: 200px;
    width: 150px;
  }

  .card-packages-wedding-topic {
    padding-left: 0px;
    padding-right: 0px;
    padding-bottom: 0px;
    font-weight: 550;
    font-size: 12px;
  }

  .card-packages-wedding-icon {
    padding-top: 15px;
  }

  .card-packages-topic {
    font-size: 12px;
    padding-bottom: 5px;
  }

  .card-packages-icon {
    padding-top: 15px;
  }

  .packages-icon {
    height: 70px;
  }

  .card-packages-wedding-topic {
    padding-bottom: 0px;
  }

  .packages-details {
    width: auto;
    text-align: center;
  }

  .packages-btn {
    height: 40px;
    width: 80px;
    font-size: 12px;
  }
}
@media (max-width: 453px) {
  .packages-underline {
    background-color: #dfa4a2;
    height: 4px;
    width: 170px;
    right: 10px;
    position: relative;
    margin-top: 10px;
  }

  .packages-underline-heart {
    color: #dfa4a2;
    position: relative;
    bottom: 10px;
    left: 100px;
  }

  .packages-heart1 {
    position: relative;
    top: 138px;
    left: -12px;
    font-size: 10px;
  }

  .packages-heart2 {
    position: relative;
    top: 138px;
    left: 4px;
    font-size: 10px;
  }
}
@media (max-width: 414px) {
  .packages {
    padding-left: 0%;
  }

  .col-6 {
    padding-bottom: 10px;
  }

  .packages {
    padding-bottom: 20px;
  }
}
@media (max-width: 385px) {
  .packages {
    padding-left: 5%;
  }

  .card-packages {
    height: 200px;
    width: 110px;
  }

  .card-packages-wedding-topic {
    padding-left: 0px;
    padding-right: 0px;
    padding-bottom: 0px;
    font-weight: 550;
    font-size: 12px;
  }

  .card-packages-wedding-icon {
    padding-top: 15px;
  }

  .card-packages-topic {
    font-size: 12px;
  }

  .card-packages-icon {
    padding-top: 15px;
    padding-bottom: 13px;
  }
}
@media (max-width: 360px) {
  .packages {
    padding-left: 2%;
    padding-bottom: 10px;
  }

  .col-6 {
    padding-bottom: 30px;
    padding-left: 20px;
  }

  .card-packages-topic {
    font-size: 12px;
    padding-top: 0px;
  }

  .card-packages-icon {
    padding-top: 15px;
    padding-bottom: 5px;
  }
}
@media (max-width: 320px) {
  .packages {
    padding-right: 5%;
  }
}
.portfolio-heart {
  position: relative;
  top: 19px;
  left: 52px;
  font-size: 10px;
}

.portfolio {
  padding-top: 70px;
  padding-bottom: 120px;
  text-align: center;
}

.portfolio-topic {
  text-align: center;
  font-family: "vidu-black";
  font-size: 39px;
  font-weight: 700;
}

.flex-container {
  column-count: 3;
}

.button-group {
  padding-top: 20px;
  font-family: "vidu-black";
  font-weight: 700;
}

.portfolio-groupbtn {
  background-color: #f5f5f5;
  margin-bottom: 10px;
  border: 0px;
}

.btn-click {
  background-color: #dfa4a2;
  color: white;
  box-shadow: none;
}

.btn-focus {
  box-shadow: none;
}

.portfolio-button {
  text-align: center;
  padding-top: 50px;
}

.portfolio-images {
  display: block;
  height: auto;
  width: 1200px;
}

.button-group {
  text-align: center;
}

.img-thumbnail {
  display: inline-table;
  text-align: center;
  padding-bottom: 25px;
  border-width: 0px;
  display: table;
}

/* underline */
.portfolio-underline {
  background-color: #dfa4a2;
  height: 4px;
  width: 110px;
  right: 10px;
  position: relative;
  margin-top: 5px;
  margin-bottom: 20px;
}

.portfolio-underline-heart {
  color: #dfa4a2;
  position: relative;
  bottom: 10px;
  left: 75px;
}

/* underline end*/
/* Responsive */
@media (max-width: 1399px) {
  .portfolio-images {
    width: auto;
  }

  .img-thumbnail {
    padding-bottom: 20px;
  }
}
@media (max-width: 1366px) {
  .img-thumbnail {
    padding-bottom: 20px;
  }
}
@media (max-width: 991px) {
  .portfolio {
    padding-top: 70px;
    padding-bottom: 100px;
  }

  .flex-container {
    column-count: 1;
  }

  .portfolio-images {
    height: auto;
  }

  .img-thumbnail {
    width: 100%;
  }
}
@media (max-width: 360px) {
  .portfolio {
    padding-top: 60px;
    padding-bottom: 100px;
  }

  .flex-container {
    column-count: 1;
  }

  .portfolio-images {
    height: auto;
  }
}
.services {
  text-align: center;
}

.services-topic {
  padding-top: 70px;
  text-align: center;
  font-family: "vidu-black";
  font-size: 39px;
  font-weight: 700;
  text-align: center;
}

.service-img {
  margin-top: 10px;
}

.cards {
  padding-top: 50px;
  padding-bottom: 100px;
}

.services-details {
  height: 230px;
  font-family: "Roboto";
  font-size: 15px;
}

.services-column {
  padding-bottom: 20px;
}

.services-card {
  width: 250px;
}

.mobile_icon {
  height: 40px;
}

/* underline */
.services-underline {
  background-color: #dfa4a2;
  height: 4px;
  width: 170px;
  right: 10px;
  position: relative;
  margin-top: 10px;
}

.services-underline-heart {
  color: #dfa4a2;
  position: relative;
  bottom: 10px;
  left: 105px;
}

/* underline end*/
/* Responsive */
@media (min-width: 768px) {
  .mobile_icon {
    display: none;
  }
}
@media (max-width: 1559px) {
  .services-card {
    width: 240px;
  }

  .services-details {
    height: 230px;
  }
}
@media (max-width: 1452px) {
  .services-card {
    width: 230px;
  }

  .services-details {
    height: 230px;
  }
}
@media (max-width: 1399px) {
  .services-topic {
    padding-top: 70px;
    text-align: center;
    font-family: "Poppins";
    font-size: 39px;
    font-weight: 700;
    text-align: center;
  }

  .services-card {
    width: 200px;
  }

  .services-details {
    height: 280px;
  }
}
@media (max-width: 1366px) {
  .services-column {
    padding-right: 200px;
  }
}
@media (max-width: 1199px) {
  .services-card {
    width: 175px;
  }

  .services-details {
    height: 350px;
  }

  .services-column {
    padding-right: 0px;
  }
}
@media (max-width: 1024px) {
  .services-column {
    padding-right: 200px;
  }
}
@media (max-width: 991px) {
  .services {
    padding-top: 70px;
  }

  .services-card {
    width: auto;
  }

  .services-details {
    height: 200px;
  }

  .services-topic {
    padding-top: 0px;
  }

  .services-column {
    padding-right: 0px;
  }
}
@media (max-width: 767px) {
  .service-img {
    display: none;
  }

  .services-details {
    height: auto;
  }
}
@media (max-width: 360px) {
  .cards {
    padding-top: 15px;
    padding-bottom: 15px;
  }
}
.testimonials-hearts {
  text-align: center;
  z-index: 2;
}

.testimonials-heart1 {
  text-align: center;
  position: relative;
  top: 20px;
  right: 32px;
  font-size: 10px;
  z-index: 2;
}

.testimonials-heart2 {
  text-align: center;
  position: relative;
  top: 20px;
  left: 56px;
  font-size: 10px;
  z-index: 2;
}

.testimonials-row:before,
.testimonials-row:after {
  content: "";
  position: absolute;
  z-index: 1;
  width: 50rem;
  top: 0;
  height: 100%;
  pointer-events: none;
}

.testimonials-row:before {
  left: 0;
  background: linear-gradient(to right, whitesmoke, rgba(245, 245, 245, 0) 85%);
}

.testimonials-row:after {
  right: 0;
  background: linear-gradient(to left, whitesmoke, rgba(245, 245, 245, 0) 85%);
}

.arrow-prev:before,
.slick-next:before {
  color: #e2e0e0 !important;
  font-size: 2rem !important;
}

.arrow-prev,
.arrow-next {
  z-index: 2;
  cursor: pointer;
}

.arrow-next {
  position: relative;
  top: 175px;
  left: 1220px;
}

.arrow-prev {
  position: relative;
  top: 175px;
}

.testimonials-text-before {
  text-align: center;
  padding-top: 50px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.06);
  background-color: white;
  padding-left: 10px;
  padding-right: 10px;
}

.testimonials-img {
  position: absolute;
  top: 0px;
  right: 40%;
}

.testimonials {
  position: relative;
  padding-top: 65px;
  padding-bottom: 80px;
  background-color: #f5f5f5;
}

.testimonials-card {
  position: relative;
  background-color: #f5f5f5;
}

.testimonials-topic {
  position: relative;
  text-align: center;
  font-family: "vidu-black";
  font-size: 39px;
  font-weight: 700;
}

.testimonials-text {
  font-family: "vidu-black";
  font-weight: 500;
  padding-bottom: 20px;
  font-size: 12px;
  padding-right: 20px;
  padding-left: 20px;
}

.ratings {
  color: #f7c10b;
}

/* underline */
.testimonials-underline {
  background-color: #dfa4a2;
  height: 4px;
  width: 190px;
  right: 10px;
  position: relative;
  margin-top: 10px;
}

.testimonials-underline-heart {
  color: #dfa4a2;
  position: relative;
  bottom: 10px;
  left: 195px;
}

/* underline end*/
/* Responsive */
@media (max-width: 1570px) {
  .testimonials {
    position: relative;
    padding-top: 70px;
  }

  .testimonials-row:before {
    left: 0;
    background: linear-gradient(to right, whitesmoke, rgba(245, 245, 245, 0) 85%);
    width: 50%;
  }

  .testimonials-row:after {
    right: 0;
    background: linear-gradient(to left, whitesmoke, rgba(245, 245, 245, 0) 85%);
    width: 50%;
  }
}
@media (max-width: 1536px) {
  .arrow-next {
    position: relative;
    top: 175px;
    left: 1140px;
  }

  .arrow-prev {
    position: relative;
    top: 175px;
    right: 10px;
  }
}
@media (max-width: 1440px) {
  .arrow-next {
    position: relative;
    top: 175px;
    left: 1130px;
  }

  .arrow-prev {
    position: relative;
    top: 175px;
    right: 25px;
  }

  .testimonials-img {
    right: 40%;
  }
}
@media (max-width: 1399px) {
  .arrow-next {
    position: relative;
    top: 175px;
    left: 970px;
  }

  .arrow-prev {
    position: relative;
    top: 175px;
    right: 25px;
  }

  .testimonials-img {
    right: 38%;
  }
}
@media (max-width: 1366px) {
  .arrow-next {
    position: relative;
    top: 175px;
    left: 970px;
  }

  .arrow-prev {
    position: relative;
    top: 175px;
    right: 25px;
  }

  .testimonials-img {
    right: 38%;
  }
}
@media (max-width: 1280px) {
  .arrow-next {
    position: relative;
    top: 175px;
    left: 960px;
  }

  .arrow-prev {
    position: relative;
    top: 175px;
    right: 25px;
  }
}
@media (max-width: 1199px) {
  .arrow-next {
    position: relative;
    top: 175px;
    left: 830px;
  }

  .arrow-prev {
    position: relative;
    top: 175px;
    right: 25px;
  }
}
@media (max-width: 1023px) {
  .testimonials-row:before {
    display: none;
  }

  .testimonials-row:after {
    display: none;
  }

  .arrow-next {
    position: relative;
    top: 150px;
    left: 830px;
  }

  .arrow-prev {
    position: relative;
    top: 150px;
    right: 25px;
  }

  .testimonials-img {
    right: 45%;
  }
}
@media (max-width: 991px) {
  .arrow-next {
    top: 155px;
    left: 655px;
  }

  .arrow-prev {
    top: 155px;
    right: 25px;
  }

  .testimonials-img {
    right: 44%;
  }
}
@media (max-width: 768px) {
  .arrow-next {
    top: 155px;
    left: 550px;
  }

  .arrow-prev {
    top: 155px;
    right: 25px;
  }

  .testimonials-img {
    right: 42%;
  }
}
@media (max-width: 767px) {
  .arrow-next {
    top: 155px;
    left: 470px;
  }

  .arrow-prev {
    top: 155px;
    right: 25px;
  }

  .testimonials-img {
    right: 42%;
  }
}
@media (max-width: 660px) {
  .arrow-next {
    left: 430px;
  }

  .arrow-prev {
    right: 25px;
  }

  .testimonials-img {
    right: 41%;
  }
}
@media (max-width: 656px) {
  .arrow-next {
    left: 430px;
  }

  .testimonials-img {
    right: 41%;
  }
}
@media (max-width: 575px) {
  .arrow-next {
    left: 400px;
  }

  .testimonials-img {
    right: 41%;
  }
}
@media (max-width: 568px) {
  .arrow-next {
    position: absolute;
    top: 275px;
    left: 88%;
  }

  .arrow-prev {
    position: absolute;
    top: 275px;
    left: 4%;
  }

  .testimonials-card {
    margin-top: 20px;
  }
}
@media (max-width: 500px) {
  .arrow-next {
    position: absolute;
    top: 280px;
    left: 88%;
  }

  .arrow-prev {
    position: absolute;
    top: 280px;
    left: 3%;
  }

  .testimonials-card {
    margin-top: 20px;
  }
}
@media (max-width: 460px) {
  .arrow-next {
    position: absolute;
    top: 280px;
    left: 88%;
  }

  .arrow-prev {
    position: absolute;
    top: 280px;
    left: 2%;
  }

  .testimonials-card {
    margin-top: 20px;
  }
}
@media (max-width: 414px) {
  .arrow-next {
    top: 290px;
    left: 87%;
  }

  .arrow-prev {
    top: 290px;
    left: 3%;
  }

  .testimonials-img {
    right: 37%;
  }
}
@media (max-width: 375px) {
  .arrow-next {
    top: 285px;
    left: 85%;
  }

  .arrow-prev {
    top: 285px;
    left: 2%;
  }

  .testimonials-img {
    right: 33%;
  }
}
@media (max-width: 360px) {
  .arrow-next {
    top: 290px;
    left: 87%;
  }

  .arrow-prev {
    top: 290px;
    left: 2%;
  }

  .testimonials-img {
    right: 37%;
  }
}/*# sourceMappingURL=style.css.map */